{% extends "pwa-base.html" %}
{% load static i18n pharma_tags %}

{% block content%}
    <div class="row m-2">
        <div class="col-4 text-center">
            <a class="btn border-primary text-primary w-100" href="{%url "patient-lopd-generate-document2" obj.id%}">
		        <i class="fas fa-file-pdf fa-3x"></i><br/><strong>LOPD</strong></a>
        </div>
        <div class="col-4 text-center">
            <a class="btn border-primary text-primary w-100" href="{%url "patient-lopd-generate-document3" obj.id%}">
		        <i class="fas fa-file-pdf fa-3x"></i><br/><strong>Autorización</strong></a>
        </div>
        <div class="col-4 text-center">
            <a class="btn border-primary text-primary w-100" href="{%url "pwa-patient-lopd" obj.uuid%}">
		        <i class="fas fa-sync fa-3x"></i><br/><strong>Actualizar</strong></a>
        </div>
    </div>

    {% for item in obj.lopd.all %}
    	<div class="row p-0 m-0">
            <div class="col-12 recipe-header">
    	        <div class="row py-1">
	                <div class="col-6 py-2"><strong>Fecha: {{item.date|date:"d-m-Y"}}</strong></div>
 	                <div class="col-6">
                        <a class="btn btn-primary w-100 py-2" href="{{item.document|get_lopd_url}}" target="_blank">
                 	        <i class="fas fa-pdf"></i> &nbsp; VER</a>
                        </a>
 	                </div>
 	            </div>
 	        </div>

        </div>
        <br/>
    {% endfor %}
{% endblock %}
