{% extends 'base.html' %}
{% load i18n %}

{% block central_content %}
    <div class="row toolbar-search pt-2 pb-2 m-0">
        <div class="col-lg-1 col-1"><i class="fas fa-search"></i></div>
        <div class="col-lg-11 col-11 text-left p-0">
            <input type="text" class="autosearch form-control form-control-dark w-100" name="s-name" id="s-name" 
               placeholder="{% trans 'Historial, Nombre o CIP' %}" data-url="{% url "patient-search" %}" 
               data-target="patient-list" data-related="s-name" />
        </div>
    </div>
    <div class="content mt-4">
        <div class="toolbar-content">
	    <h2 class="pathway b-right">{% trans 'Pacientes' %} <span id="items-counter" class="badge badge-secondary">{{items|length}}</span></h2>
            {#<a class="btn btn-primary ark" data-url="{% url "patient-form" %}" data-target-modal="common-modal">{% trans "New paciente"%}</a>  #}
            <a class="btn btn-sm new" href="{% url "patient-new" %}">{% trans "Nuevo paciente"%}</a>
        </div>

        <div class="small-info p-2">* Sin LOPD en los últimos 15 días</div>
        <div class="row patient-list-head" style="margin:0;">
            <div class="col-12">
                <div class="row main-th small small pt-3 pb-3">
                    <div class="col-11">
                        <div class="row">
                            <div class="col-2"> {% trans 'Historial' %} </div>
                            <div class="col-6"> {% trans 'Nombre' %} </div>
                            <div class="col-3"> {% trans 'CIP' %} </div>
                            <div class="col-1"> {% trans 'Edad' %} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="patient-list">
            {#{% include "patients/patient-list.html" %}#}
        </div>
    </div>
    <a class="hide ark" id="load-patient-list" data-url="{% url "patient-list" %}" data-target="patient-list"></a>
    <script>$(document).ready(function() {$("#load-patient-list").click()})</script>
    {% include "common-modal.html" %}
{% endblock central_content %}
