{% extends 'base.html' %}
{% load i18n static %}

{% block central_content %} 
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    <div class="projects-ui">
        <div id="project-shell" class="projects-shell">
            {% include "project/project-shell.html" %}
        </div>
    </div>
    
    {% include "common-modal.html" %} 

    <script>
        $("body").on("click", ".project-tabs .tab-item", function(){
            $(".tab-item").removeClass("active");
            $(this).addClass("active");
        });
    </script>

    <script>
        function myFunction() {
            var x = document.getElementById("hamb-menu");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>

{% endblock central_content %}
