{% load i18n %}

<span id="div-notification"></span>

<div id="patient-container">
    <div class="row w-100 patient-data-body-2 p-1" style="margin:0;">
        <div class="col-11 patient-data">
            <div class="row" style="margin:0;">
                <div class="col-lg-3 col-6 mt-3">
                    <label class="label">{% trans "Nombre" %}:</label>
                    <input type="text" class="form-control autosave input view" id="name" name="name" value="{{obj.name}}" 
                        title="{{obj.name}}" data-model-name="projects.project" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" 
                        data-target="div-notification" disabled/> <span id="name__msg"></span>
                </div>
                <div class="col-lg-3 col-6 mt-3">
                    <label class="label">{% trans "Descripción" %}:</label>
                    <input type="text" class="form-control autosave input view" id="desc" name="desc" value="{{obj.desc}}" 
                        title="{{obj.desc}}" data-model-name="projects.project" data-obj-id="{{obj.id}}" data-url="{% url "autosave_field" %}" 
                        data-target="div-notification" disabled/> <span id="desc__msg"></span>
                </div>
            </div>
        </div>    
        <div class="col-1 text-end">
            <button id="btn-edit" class="btn btn-sm toggle-edit new" data-class-name="input" data-text="{%trans "Edit"%}" 
                data-text-alt="{%trans "Hecho"%}">{%trans "Edit"%} </button>
        </div>
    </div>
</div>

