{% load i18n %}

<div class="row block-options mb-2 m-0" style="border-bottom: 2px solid #e2e8f0;">
    <div class="col-lg-8">
        <div class="row options">
            <div class="col-md-5 div-option text-center p-2 card-cash ark" data-target="none" 
                data-url="{%url "change-method"%}" data-hashinv="{{invoice.hashinv}}" id="method" name="method"
                data-value="no" > <i class="fa fa-credit-card"></i>&nbsp;Tarjeta<br>
            </div>
            <div class="col-md-5 offset-1 div-option option-on text-center p-2 card-cash ark" 
                data-target="none" data-url="{% url "change-method" %}" data-hashinv="{{invoice.hashinv}}" 
                id="method" name="method" data-value="yes" > <i class="fa fa-coins"></i>&nbsp;Efectivo<br>
            </div>
            {% if company.ispharma %}
                <div class="col-md-5 div-option text-center p-2 ark" data-url="{% url "change-regulated" %}" 
                    data-target="none" data-hashinv="{{invoice.hashinv}}" id="regulated" name="regulated" 
                    data-value="yes"> <i class="fa fa-list"></i>&nbsp;Receta
                </div>
                <div class="col-md-5 offset-1 div-option text-center p-2" data-url="{%url "change-regulated"%}"
                    data-target="none" data-hashinv="{{invoice.hashinv}}" id="regulated" name="regulated" 
                    data-value="no"> <i class="fa fa-coins"></i>&nbsp;Venta Libre
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col-lg-4 operation p-2">
        <div class="row form-group w-100">
            <div class="col-4 pt-3">Entrega:</div>
            <div class="col-8 p-2">
                <input id="entrega" type="number" step="0.01" 
                    onchange="calcula_cambio();" onkeyup="calcula_cambio();" 
                    class="form-control text-right " value="0.00" data-invoice="{{invoice.id}}" 
                    data-url="{% url "save-paid-amount" %}"></div>
            <div class="col-4 mt-2 pt-2">Cambio:</div>
            <div class="col-8 mt-2 text-right change-div" id="change_returned" class="text-right col-8">
                <strong>{{0|floatformat:2}} &euro;</strong></div>
        </div>
    </div>
</div>
