anyio==4.3.0
asgiref==3.4.1
beautifulsoup4==4.12.3
Brotli==1.0.9
cairocffi==1.2.0
CairoSVG==2.6.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.12
cryptography==42.0.5
cssselect2==0.4.1
decorator==5.1.1
defusedxml==0.7.1
Django==3.2.15
django-weasyprint==1.1.0
exceptiongroup==1.2.0
fonttools==4.27.1
future==1.0.0
git-filter-repo==2.47.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.4
httpx==0.27.0
idna==3.4
lml==0.1.0
mysqlclient==2.1.1
numpy==2.1.3
odfpy==1.4.1
paho-mqtt==2.1.0
pandas==2.2.3
Pillow==8.4.0
psycopg2==2.8.5
pycparser==2.21
pydyf==0.1.2
pyexcel-io==0.6.7
pyexcel-ods==0.6.0
pyphen==0.11.0
PyQRCode==1.2.1
python-dateutil==2.9.0.post0
python-telegram-bot==12.7
pytz==2022.2.1
qrcode==8.0
requests==2.27.1
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
sqlparse==0.4.2
stripe==10.12.0
tinycss2==1.1.1
tornado==6.4
typing_extensions==4.12.2
tzdata==2024.2
urllib3==1.26.14
WeasyPrint==52.5
webencodings==0.5.1
xlrd==2.0.1
zopfli==0.1.9
gunicorn
