{% load i18n pharmatags %}


{% if error %}
	<div class="alert alert-danger">{{ error }}</div>
{% endif %}
	{% if print %}
			<canvas id="line-chart"></canvas>
	{% else %}
    <div class="row">
		    <div class="col-xs-8"><i class="fa fa-medkit"></i>&nbsp; {% if paciente.owner == request.user %}{{ paciente.nombre }} {{paciente.apellido }} {% else %} -- {% endif %}</div>
			<div class="col-xs-4 text-right">
		</div>
	</div>
    <div class="panel-body cap-panel">
			<canvas id="line-chart" width="800" height="450"></canvas>
	</div>
	{% endif %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
	labels:[{% for item in registros %} "{{ item.creation_date|date:"d/m/Y"}}" {% if not forloop.last%},{% endif%} {% endfor %}],
    datasets: [
		{% for plot in plots %}
			{
				data :[{% for item in registros %} 
                        {% with value=item|value_for_key:plot.key %}
                            {% if value %}
                                    parseFloat({{value}})
                            {% endif %}
                        {% endwith %}
                        {% if not forloop.last%},{% endif%} {% endfor %}],
				label : "{{ plot.label }}",
				borderColor: "{{plot.color}}",
				fill:false

			}
			{% if not forloop.last %},{% endif %}
		{% endfor %}
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Gráfico de evolución del paciente '
    }
  }
});


</script>

	{% comment %}
	  {% if weight %}
	  { 
        data: [{% for item in registros %} parseFloat({{ item.weight }}) {% if not forloop.last%},{% endif%} {% endfor %}],
        label: "Peso",
        borderColor: "#3e95cd",
        fill: false
      },
	  {% endif %}
	  {% if imc %}
	  { 
        data: [{% for item in registros %} parseFloat({{ item.bmi }}) {% if not forloop.last%},{% endif%} {% endfor %}],
        label: "IMC",
        borderColor: "#3cba9f",
        fill: false
      }, 
	  {% endif %}
	  {% if glico %}
	  { 
        data: [{% for item in registros %} parseFloat({{ item.glicosylated }}) {% if not forloop.last%},{% endif%} {% endfor %}],
        label: "Glicosilada",
        borderColor: "#e8c3b9",
        fill: false
      }, 
	  {% endif %}
	  {% if gluco %}
	  { 
        data: [{% for item in registros %} parseFloat({{ item.glucose }}) {% if not forloop.last%},{% endif%} {% endfor %}],
        label: "Glucosa Basal",
        borderColor: "#c45850",
        fill: false
      },
	  {% endif %}
	  {% if rate %}
	  { 
        data: [{% for item in registros %} parseFloat({{ item.hearth_rate }}) {% if not forloop.last%},{% endif%} {% endfor %}],
        label: "Pulso",
        borderColor: "#c334eb",
        fill: false
      },
	  {% endif %}
	  {% if ta%}
	  { 
        data: [{% for item in registros %} parseFloat({{ item.bpressure_max }}) {% if not forloop.last%},{% endif%} {% endfor %}],
        label: "TA Máx",
        borderColor: "#eb4034",
        fill: false
      },
	  {% endif %}
	  {% if tamin %}
	  {	   
        data: [{% for item in registros %} parseFloat({{ item.bpressure_min }}) {% if not forloop.last%},{% endif%} {% endfor %}],
        label: "TA Mín",
        borderColor: "#ebc034",
        fill: false
      }
	  {% endif %}
	  {}
	  {% endcomment %}

