{% load i18n pharmatags %}

<div class="panel panel-primary">
    <div class="panel-heading">
    	<div class="row">
		    <div class="col-xs-8"><i class="fa fa-medkit"></i>&nbsp; {% trans 'Registro de Parámetros' %}. {{paciente.n_historial}}</div>
		</div>
    </div>
    <div class="panel-body cap-panel">
             <div class="row text-right">
                <div class="col-xs-12">
			     <a class="btn btn-default btn-sm ga-ajax-load" href="{% url 'tension_add' paciente.pk %}" data-ga-target="#cap-panel-form-tension" 
				 	data-ga-scroll-to="#cap-panel-form-tension" id="btn_add_pastillero"><i class="fa fa-plus"></i> {% trans 'Nuevo Registro' %}</a>
				 <a class="btn btn-default btn-sm ga-ajax-load" data-ga-target="modal" id="btn_view_graph" 
				 		href="{% url 'registro_tension_chart' paciente.pk%}?start_date={{start_date|date:"Y-m-d"}}&end_date={{ end_date|date:"Y-m-d"}}">
						<i class="fa fa-chart-line"></i> {% trans "Ver grafica" %}</a>

				<a class="btn btn-default btn-sm ga-ajax-load" id="btn_view_graph" data-ga-target="modal" data-ga-modal-title="Imprimir informe de parámetros" 
					href="{% url 'pick_plots' paciente.pk %}?start_date={{start_date|date:"Y-m-d"}}&end_date={{ end_date|date:"Y-m-d"}}"><i class="fa fa-print"></i> {% trans "Generar Informe" %}</a>

                </div>

             </div>
             <br>
             <div class="row">
                <div class="col-xs-12">
				<div class="col-xs-12">
					
					<form class="form ga-ajax-form form-inline text-right" action="{% url 'registro_tension' paciente.pk %}"  data-ga-target="#cap-panel-view-content" method="post">{% csrf_token %}
						<label> Desde: </label><input type="date" value="{{ start_date|date:"Y-m-d" }}" class="form-control input-sm" name="start_date"/>&nbsp;&nbsp;
						<label> Hasta: </label><input type="date" value="{{ end_date|date:"Y-m-d" }}" class="form-control input-sm" name="end_date"/>
						<button type="submit" class="btn btn-default btn-sm"><i class="fa fa-search"></i></button>
					</form>
				</div> 
                
            {% if registros|length > 0 %}
				<table class="table table-striped">
                    <thead>
                        <tr class="info text-center">
                            <th>
                            <div class="col-xs-2">Fecha</div>
                            <div class="col-xs-1">Peso (Kg)</div>
                            <div class="col-xs-1">Pa M.(mmHg)</div>
							<div class="col-xs-1">Pa m.(mmHg)</div>
							<div class="col-xs-1">Pulso</div>
							<div class="col-xs-1">Imc</div>
							<div class="col-xs-1">Glicosi. (HbA1c)</div>
							<div class="col-xs-1">Gluco.B. mg/dc</div>
							<div class="col-xs-1">FEM L/min.</div>
							<div class="col-xs-1">Fra.</div>
							<div class="col-xs-1"></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in registros %}
                        <tr class="">
                            <td>

                                <div class="col-xs-2">{{ item.date|date:"d-m-Y H:i" }} </div>
								<div class="col-xs-1">{{ item.weight|default_if_none:"--" }} </div>
								<div class="col-xs-1">{{ item.bpressure_min|default_if_none:"--" }}</div>
								<div class="col-xs-1">{{ item.bpressure_max|default_if_none:"--" }}</div>
								<div class="col-xs-1">{{ item.hearth_rate|default_if_none:"--" }}</div>
								<div class="col-xs-1">{{ item.bmi|default_if_none:"--" }}</div>
								<div class="col-xs-1">{{ item.glicosylated|default_if_none:"--" }} </div>
								<div class="col-xs-1">{{ item.glucose|default_if_none:"--" }}</div>
                                <div class="col-xs-1">{#{{ item|get_fem_value|default_if_none:"-"|safe }}#}</div>
								<div class="col-xs-1">
                                        
                                        {% if region == "c" %} 
                                            
                                            {% if item.framingham <= 5 %}
                                                <span style="background: green; color:white; padding:5px; border-radius:5px" class="badge">
                                                {{ item.framingham|floatformat|default_if_none:"--" }}
                                                </span>
                                            {% endif %}
                                        
                                            {% if item.framingham > 5 and item.framingham <= 10 %}
                                                <span style="background: yellow; color:darkgray; padding:5px;" class="badge">
                                                {{ item.framingham|floatformat|default_if_none:"--" }}
                                                </span>
                                            {% endif %}
                                        
                                            {% if item.framingham > 10 and item.framingham <= 19 %}
                                                <span style="background: orange; color:black; padding:3px; border-radius:5px" class="badge">
                                                {{ item.framingham|floatformat|default_if_none:"--" }}
                                                </span>
                                            {% endif %}
                                        
                                            {% if item.framingham > 19 and item.framingham <= 39 %}
                                                <span style="background: violet; color:black; padding:5px;" class="badge">
                                                {{ item.framingham|floatformat|default_if_none:"--" }}
                                                </span>
                                            {% endif %}
                                       
                                            {% if item.framingham > 39 %}
                                                <span style="background: red; color:darkgray; padding:5px;" class="badge">
                                                {{ item.framingham|floatformat|default_if_none:"--" }}
                                                 </span>
                                            {% endif %}
                                        
                                        {% else %}
                                            
                                            {% if item.framingham <= 5 %}
                                                <span style="background: green; color:black; padding:2px;" class="badge">
                                                {{ item.framingham|floatformat|default_if_none:"--" }}
                                                </span>
                                            {% endif %}
                                        
                                            {% if item.framingham > 5 and item.framingham <= 10 %}
                                                <span style="background: yellow; color:black; padding:2px;">
                                                {{ item.framingham|floatformat|default_if_none:"--" }}
                                                </span>
                                            {% endif %}
                                        
                                            {% if item.framingham > 10 and item.framingham <= 15 %}
                                                <span style="background: orange; color:black; padding:2px;">
                                                {{ item.framingham|floatformat|default_if_none:"--" }}
                                                </span>
                                            {% endif %}
                                        
                                            {% if item.framingham > 15 and item.framingham <= 39 %}
                                                <span style="background: red; color:black; padding:2px;">
                                                {{ item.framingham|floatformat|default_if_none:"--" }}
                                                </span>
                                            {% endif %}
                               
                                        {% endif %}
                                
                                </div>
								<div class="col-xs-1 text-right">
									<a class="btn btn-sm btn-success ga-ajax-load" title="{% trans "Ver detalles" %}"  href="{% url 'tension_edit' paciente.pk item.pk %}"
										data-ga-target="#cap-panel-form-tension"  data-ga-scroll-to="#cap-panel-form-tension"  ><i class="fa fa-edit"></i></a>
									<a class="btn btn-sm btn-danger ga-ajax-load-confirm" href="{% url 'tension_remove'  item.id %}" data-ga-target="#cap-panel-view-content" title="{% trans "Eliminar" %}"
										data-ga-confirm-message="{% trans '¿Seguro que desea eliminar el elemento?' %}" data-ga-loading="false" ><i class="fa fa-trash"></i></a> 
								</div>
							</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
			{% elif error %}
				<div class="alert alert-danger">{{ error }}</div>
            {% else %}
			<div class="col-xs-12">
           		 <div class="well"><span class="text-info">{% trans "Sin elementos para mostrar" %} </span> </div>
			</div>
            {% endif %}
             </div>
            </div>
        </div>
    </div>
</div>
<div id="test">
</div>
<script>
	$('tr.activo_False').hide();
    $('.btn_filter').on('click', function(e){
                    $('.btn_filter.active').removeClass('active').removeClass('btn-default').addClass('btn-info');
                    $(this).removeClass('btn-info').addClass('btn-default active');

                });
	$()
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
