{% load i18n pharmatags %}


{% if error %}
	<div class="alert alert-danger">{{ error }}</div>
{% endif %}
	{% if print %}
			<canvas id="line-chart"></canvas>
	{% else %}
    <div class="row">
		    <div class="col-xs-8"><i class="fa fa-medkit"></i>&nbsp; {% if paciente.owner == request.user %}{{ paciente.nombre }} {{paciente.apellido }} {% endif %}  </div>
			<div class="col-xs-4 text-right"></div>
	</div>
    <div class="panel-body cap-panel">
			<canvas id="line-chart" width="800" height="450"></canvas>
	</div>
	{% endif %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
	labels:[{% for item in registros %} "{{ item.creation_date|date:"d/m/Y"}}" {% if not forloop.last%},{% endif%} {% endfor %}],
    datasets: [{ 
        data: [{% for item in registros %} {% if item.weight %} parseFloat({{ item.weight }}) {% endif %} {% if not forloop.last%},{% endif%} {% endfor %}],
        label: "Peso",
        borderColor: "#3e95cd",
        fill: false
      },{ 
        data: [{% for item in registros %} {% if item.bmi %} parseFloat({{ item.bmi }}) {% endif %} {% if not forloop.last%},{% endif%} {% endfor %}],
        label: "IMC",
        borderColor: "#3cba9f",
        fill: false
      }, { 
        data: [{% for item in registros %} {% if item.glicosylated %} parseFloat({{ item.glicosylated }}) {% endif %} {% if not forloop.last%},{% endif%} {% endfor %}],
        label: "Glicosilada",
        borderColor: "#e8c3b9",
        fill: false
      }, { 
        data: [{% for item in registros %} {% if item.glucose %} parseFloat({{ item.glucose }}) {% endif %} {% if not forloop.last%},{% endif%} {% endfor %}],
        label: "Glucosa Basal",
        borderColor: "#c45850",
        fill: false
      },{ 
        data: [{% for item in registros %} {% if item.hearth_rate %} parseFloat({{ item.hearth_rate }}) {% endif %} {% if not forloop.last%},{% endif%} {% endfor %}],
        label: "Pulso",
        borderColor: "#c334eb",
        fill: false
      },{ 
        data: [{% for item in registros %} {%if item.bpressure_max %} parseFloat({{ item.bpressure_max }}) {% endif %} {% if not forloop.last%},{% endif%} {% endfor %}],
        label: "TA Máx",
        borderColor: "#eb4034",
        fill: false
      },{ 
        data: [{% for item in registros %} {% if item.bpressure_min %} parseFloat({{ item.bpressure_min }}) {% endif %} {% if not forloop.last%},{% endif%} {% endfor %}],
        label: "TA Mín",
        borderColor: "#ebc034",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Gráfico de evolución del paciente '
    }
  }
});


</script>
