{% load i18n %}

<section class="tpv-payment">
    <h3>{% trans "Método de pago" %}</h3>
    <div class="tpv-payment-options">
        <button type="button" class="card-cash ark {% if not invoice.cash %}option-on{% endif %}" data-target="none" data-url="{%url "change-method"%}"
            data-hashinv="{{invoice.hashinv}}" id="method" name="method" data-value="no">
            <i class="fa fa-credit-card"></i><span>{% trans "Tarjeta" %}</span>
        </button>
        <button type="button" class="card-cash ark {% if invoice.cash %}option-on{% endif %}" data-target="none" data-url="{% url "change-method" %}"
            data-hashinv="{{invoice.hashinv}}" id="method" name="method" data-value="yes">
            <i class="fa fa-coins"></i><span>{% trans "Efectivo" %}</span>
        </button>
        {% if company.ispharma %}
            <button type="button" class="tpv-regulated-option ark {% if invoice.regulated %}option-on{% endif %}" data-url="{% url "change-regulated" %}"
                data-target="none" data-hashinv="{{invoice.hashinv}}" id="regulated" name="regulated" data-value="yes">
                <i class="fa fa-list"></i><span>{% trans "Receta" %}</span>
            </button>
            <button type="button" class="tpv-regulated-option ark {% if not invoice.regulated %}option-on{% endif %}" data-url="{%url "change-regulated"%}"
                data-target="none" data-hashinv="{{invoice.hashinv}}" id="regulated" name="regulated" data-value="no">
                <i class="fa fa-pills"></i><span>{% trans "Venta libre" %}</span>
            </button>
        {% endif %}
    </div>
    <div class="tpv-cash-change">
        <div>
            <label for="entrega">{% trans "Entrega" %}</label>
            <input id="entrega" type="number" step="0.01" onchange="calcula_cambio();" onkeyup="calcula_cambio();"
                class="form-control text-end" value="0.00" data-invoice="{{invoice.id}}" data-url="{% url "save-paid-amount" %}">
        </div>
        <div class="tpv-change-value">
            <span>{% trans "Cambio" %}</span>
            <strong id="change_returned">{{0|floatformat:2}} €</strong>
        </div>
    </div>
</section>
