{% load i18n common_tags %}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-xs-8"><i class="fa fa-file"></i>&nbsp; {%trans 'Subir fichero de unycop (.xls)'%}</div>
            <div class="col-xs-4"></div>
        </div>
    </div>  
    <div class="card-body">
        <label for ="file" class="btn btn-sm new"> 
            <i class="fas fa-upload"></i><span class="d-none d-sm-block">{%trans "Elegir"%}&nbsp;{%trans "Archivo"%}</span></label>
        <input type="file" class="multiupload d-none" name="file" id="file" data-url="{%url 'patient-dispensations-upload'%}"
            data-target="div-unycop" data-obj-id="" data-field="" data-folder="" data-csrf-token="{{ csrf_token }}" 
            multiple/>
 
        {% if msg and msg != "" %}
            <br/><br/><div id="import-info"> <h4> Resultado de la importación </h4> {{msg|safe}} </div> 
        {% endif %}
    </div>
</div>

