{% load i18n %}

<div class="row p-2">
    <div class="col-6">
        <div class="card">
            <div class="card-header">{% trans "Ingresos" %}</div>
            <div class="card-body">{% include "project/budget/income-list.html" %}</div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">{% trans "Gastos" %}</div>
            <div class="card-body">{% include "project/budget/expense-list.html" %}</div>
        </div>
    </div>
</div>
