{% load i18n %}


<div class="row">
    <div class="col-11"> <h2><i class="fa fa-history"></i>&nbsp; {% trans 'Receta' %}</h2> </div>
    <div class="col-1"> <div class="d-flex justify-content-end"> 
        <button type="button" class="btn btn-lg" data-bs-dismiss="modal" title="{% trans "Close" %}">
            <i class="fas fa-times"></i></button> 
    </div> </div>
</div>

<span id="div-notification"></span><br/>

<div class="row justify-center">
    <div class="col-6"> <div class="greybox-sm p-1">
        <div class="row">
            <div class="col-6">{% trans "ATC" %}</div>
            <div class="col-6"><button class="btn" onclick="$('.atc-row').toggle();">{%trans "ATCs del paciente"%}</button></div>
        </div>
        {%for atc in obj.patient.tratamientos.all %}
            <div class="row atc-row" style="display:none">
                <div class="col-8">{{atc.atcs_last}}</div>
                <div class="col-2"><button class="btn atc-btn" data-value="{{atc.atcs_last}}">{% trans "Seleccionar" %}</button></div>
            </div>
        {% endfor %}
 
        <input type="text" class="form-control autosave" id="atc" name="atc" value="{{obj.atc}}" 
	        title="{{obj.atc}}" data-model-name="bibliomecum.biblioreceipt" data-obj-id="{{obj.id}}" 
            data-url="{%url "autosave_field"%}" data-target="div-notification" /> <span id="atc__msg"></span>
    </div> </div>

    <div class="col-6"> <div class="greybox-sm p-1"> 
        <div class="row">
            <div class="col-6">{% trans "CIAP" %}</div>
            <div class="col-6"><button class="btn" onclick="$('.ciap-row').toggle();">{%trans "CIAPs del paciente"%}</button></div>
        </div>
        {%for ciap in obj.patient.diagnoses %}
            <div class="row ciap-row" style="display:none">
                <div class="col-8">{{ciap.cie_ciap.ciap}}</div>
                <div class="col-2"> <button class="btn ciap-btn" data-value="{{ciap.cie_ciap.ciap}}">
                    {% trans "Seleccionar" %}</button></div>
            </div>
        {% endfor %}
        <input type="text" class="form-control autosave" id="ciap" name="ciap" value="{{obj.ciap}}" 
	        title="{{obj.ciap}}" data-model-name="bibliomecum.biblioreceipt" data-obj-id="{{obj.id}}" 
            data-url="{%url "autosave_field"%}" data-target="div-notification" /> <span id="ciap__msg"></span>
    </div> </div>
</div>
<div class="row spd-tab">
    <div class="col-12 text-end">
        <button type="button" class="btn btn-sm ark new" data-url="{%url "bibliomecum-receipts-isbn-add"%}" 
            data-target="div-isbn" data-obj_id="{{obj.id}}"> <i class="fas fa-plus"></i> {% trans 'Añadir ISBN' %}</button> 
    </div>
</div>
<div id="div-isbn">{% include "bibliomecum/receipts-isbn-list.html" %}</div>
<div class="row justify-center">
    <div class="col-12"> <div class="greybox-sm p-1"> {% trans "Consejos de uso" %}
	    <textarea class="form-control autosave" id="advices" name="advices" title="{{obj.advices}}" 
        	data-model-name="bibliomecum.biblioreceipt" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
	        data-target="div-notification">{{obj.advices}}</textarea> <span id="advices__msg"></span>
    </div> </div>
</div>
<div class="row justify-center">
    <div class="col-12"> <div class="greybox-sm p-1"> {% trans "Contraindicaciones" %}
	    <textarea class="form-control autosave" id="contras" name="contras" title="{{obj.contras}}" 
        	data-model-name="bibliomecum.biblioreceipt" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
	        data-target="div-notification">{{obj.contras}}</textarea> <span id="contras__msg"></span>
    </div> </div>
</div>

<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-sm ark save" data-bs-dismiss="modal" data-url="{% url "patient-bibliomecum" %}"
        data-target="div-container" data-obj_id="{{obj.patient.id}}">{% trans "Guardar" %}</button>
</div>

<script>
    $(".ciap-btn").click(function(){
        $('#ciap').val($(this).data('value'));
        $('#ciap').change();
        $('.ciap-row').hide()       
    });
    $(".atc-btn").click(function(){
        $('#atc').val($(this).data('value'));
        $('#atc').change();
        $('.atc-row').hide()       
    });
</script>
