{% load i18n %}


{% for item in obj.atcs.all %}
    <div class="row justify-center">
        <div class="col-3"> <div class="greybox-sm p-1"> {% trans "ATC" %}
            <input type="text" class="form-control autosave" id="atc" name="atc" value="{{item.atc}}" 
                title="{{item.atc}}" data-model-name="bibliomecum.biblioreceiptatc" data-obj-id="{{item.id}}" 
                data-url="{%url "autosave_field"%}" data-target="div-notification" /> <span id="atc__msg"></span>
        </div> </div>

        <div class="col-8"> <div class="greybox-sm p-1"> {% trans "Nombre" %}
            <input type="text" class="form-control autosave" id="name" name="name" value="{{item.name}}" 
                title="{{item.name}}" data-model-name="bibliomecum.biblioreceiptatc" data-obj-id="{{item.id}}" 
                data-url="{%url "autosave_field"%}" data-target="div-notification" /> <span id="name__msg"></span>
        </div> </div>

        <div class="col-1"> <div class="greybox-sm p-1"> 
            <a class="btn btn-sm ark p-2" data-url="{%url "bibliomecum-receipts-atc-remove"%}" data-obj_id="{{item.id}}" 
                data-target="div-atc" title="{% trans 'Borrar' %}" 
                data-confirm="{% trans "Esta seguro/a de que desea borrar este elemento?" %}"> <i class="fas fa-trash"></i></a>
        </div> </div>
    </div>
{% endfor %}
