{% load i18n common_tags %}

<div class="row spd-tab">
    <div class="col-12 text-end">
        <button type="button" class="btn btn-sm ark new" data-url="{%url "bibliomecum-receipts-form"%}" 
            data-target-modal="common-modal" data-patient_id="{{obj.id}}"> 
            <i class="fas fa-plus"></i> {% trans 'Crear Receta' %}</button> 
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr class="small small">
            <th class="row main-th">
                <div class="col-2"> {% trans 'Fecha' %} </div>
                <div class="col-2"> {% trans 'ATC' %} </div>
                <div class="col-2"> {% trans 'CIAP' %} </div>
                <div class="col-4"> {% trans 'Books' %} </div>
                <div class="col-2"></div>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for item in obj.biblio_receipts.all %}
            <tr class="small row-item" id="row_{{item.id}}">
                <td class="row p-0">
                    <div class="col-2 p-2"> {{ item.date|date:"d-m-Y"|default_if_none:"--" }} &nbsp; </div>
                    <div class="col-2 p-2"> {{ item.atc }} </div>
                    <div class="col-2 p-2"> {{ item.ciap }} </div>
                    <div class="col-4 p-2"> {% for book in item.books.all %} {{book.name}} ({{book.isbn}})<br/> {% endfor %} </div>
                    <div class="col-2 p-2 text-right">
                        {%comment%}
                        <a href="{#{% url "evolutionary-referral-form" obj.n_historial item.id True %}#}" class="btn btn-sm p-2"
                            target="_blank" rel="noopener noreferrer"><i class="fa fa-info"></i> </a>
                        {%endcomment%}
                        <a class="btn btn-sm" href="{% url "bibliomecum-receipts-print" item.id %}" target="_blank"> 
                            <i class="fas fa-print"></i></a> 
                        <a class="btn btn-sm ark p-2" title="{%trans 'Editar receta'%}" data-url="{%url "bibliomecum-receipts-form" %}"
                            data-target-modal="common-modal" data-obj_id="{{item.id}}" data-patient_id="{{obj.id}}"
                            title="{% trans "Editar" %}"> <i class="fas fa-edit"></i></a>
                        <a class="btn btn-sm ark p-2" data-url="{%url "bibliomecum-receipts-remove"%}" data-obj_id="{{item.id}}" 
                            data-target="div-container" title="{% trans 'Borrar' %}" 
                            data-confirm="{% trans "Esta seguro/a de que desea borrar este elemento?" %}">
                            <i class="fas fa-trash"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

