{% load i18n %}


<div class="row justify-center">
    <div class="col-3"> <div class="greybox-sm p-1"> {% trans "CIAP" %} </div> </div>
    <div class="col-8"> <div class="greybox-sm p-1"> {% trans "Nombre" %} </div> </div>
    <div class="col-1"> <div class="greybox-sm p-1"> </div> </div>
</div>
{% for item in obj.ciaps.all %}
    <div class="row justify-center">
        <div class="col-3"> <div class="greybox-sm p-1"> 
            <input type="text" class="form-control autosave" id="ciap" name="ciap" value="{{item.ciap}}" 
                title="{{item.ciap}}" data-model-name="bibliomecum.biblioreceiptciap" data-obj-id="{{item.id}}" 
                data-url="{%url "autosave_field"%}" data-target="div-notification" /> <span id="ciap__msg"></span>
        </div> </div>

        <div class="col-8"> <div class="greybox-sm p-1"> 
            <input type="text" class="form-control autosave" id="name" name="name" value="{{item.name}}" 
                title="{{item.name}}" data-model-name="bibliomecum.biblioreceiptciap" data-obj-id="{{item.id}}" 
                data-url="{%url "autosave_field"%}" data-target="div-notification" /> <span id="name__msg"></span>
        </div> </div>

        <div class="col-1"> <div class="greybox-sm p-1"> 
            <a class="btn btn-sm ark p-2" data-url="{%url "bibliomecum-receipts-ciap-remove"%}" data-obj_id="{{item.id}}" 
                data-target="div-ciap" title="{% trans 'Borrar' %}" 
                data-confirm="{% trans "Esta seguro/a de que desea borrar este elemento?" %}"> <i class="fas fa-trash"></i></a>
        </div> </div>
    </div>
{% endfor %}
