{% load i18n static %}


<div class="row spd-tab">
    <div class="col-12 text-end">
        {%comment%}
        <button type="button" class="btn btn-sm ark new" data-url="{%url "patient-params-form"%}" data-target-modal="common-modal" 
            data-patient_id="{{obj.id}}"> <i class="fas fa-plus"></i> {% trans 'Crear Parámetros' %}</button> 
        {%endcomment%}
    </div>
</div>


<table class="table table-striped table-hover">
    <thead>
        <tr class="small small">
            <th> {% trans 'Organización' %} </th>
            <th> {% trans 'Rol' %} </th>
            <th> {% trans 'Observaciones' %} </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in obj.patient_organizations.all %}
            <tr class="small row-item" id="row_{{item.id}}">
                <td>{{ item.organization.name }}</td>
                <td>{{ item.rol }}</td>
                <td>{{ item.obs }}</td>
                <td>
                    <a class="btn btn-sm ark" title="{%trans 'Edit'%}" data-url="{%url "patient-part-form" %}"
                        data-target-modal="common-modal" data-obj_id="{{item.id}}" data-patient_id="{{obj.id}}"> 
                        <i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;
                    {%comment%}
                    <a class="btn btn-sm ark" data-url="{%url "patient-params-remove"%}" data-obj_id="{{item.id}}" data-target="div-container" 
                        title="{% trans 'Remove' %}" data-confirm="{% trans "Are you sure to remove this element?" %}">
                        <i class="fas fa-trash"></i></a>
                    {%endcomment%}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

