{% load i18n static %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{% trans "Formulario de derivación para "%} {{ patient.history_number }}</title>
	<link rel="stylesheet" href="{% static 'community/css/colors.css' %}">
	<link rel="stylesheet" href="{% static 'community/css/documents.css' %}">
	<link rel="stylesheet" href="{% static 'community/css/referral-form.css' %}">
	<script src="{% static 'community/js/referral-form.js' %}"></script>
</head>
<body>
	<div class="page">
		<div class="page-wrapper">
            <div class="header"> 
                <div class="fundec-logo"> <img src="{% static 'community/images/fundec-logo.png' %}" alt="Fundec"/> </div> 
                <div class="company-logo"> <img src="{% static 'community/images/capsulae-logo.png' %}" alt="Capsulae"/> </div>
            </div>
			<div class="content">{{msg}}</div>
		</div>
	</div>
</body>
</html>
