{% load i18n static common_tags %}

<div class="card">
    <div class="card-header" onclick="$('#treat-body').slideToggle()"><i class="fa fa-barcode"></i>{% trans "Tratamientos" %}</div>
    <div class="card-body" id="treat-body">{%include "patient/treatments/treatment-list-details.html"%}</div>
</div>

{% if user|have_menu:"DISP" %}
<br/>
<div class="card">
    <div class="card-header" onclick="$('#disp-body').slideToggle()"><i class="fa fa-barcode"></i> {% trans "Dispensaciones" %}</div>
    <div class="card-body hide" id="disp-body">{%include "patient/dispensations/dispensations-list.html"%}</div>
</div>
{% endif %}


