.graphic-left, .table-responsive, .stat-box, .table-events {
	border-radius: 5px;
	padding: 0;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

.stat-box {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
/*	padding: 15px 0 15px 0;*/
	padding: 15px;
	margin-bottom: 5px;
}

.stat-box.color-1 { border-bottom: 4px solid #28a745; }
.stat-box.color-2 { border-bottom: 4px solid #dc3545; }
.stat-box.color-3 { border-bottom: 4px solid #03a9f3; }

.stat-box .stat-box-body {
	float: left;
	width: 100%;
}

.stat-icon.flat-color-0 { color: #2f0068; }
.stat-icon.flat-color-1 { color: #28a745; }
.stat-icon.flat-color-2 { color: #dc3545; }
.stat-icon.flat-color-3 { color: #ffc107; }
.stat-icon.flat-color-4 { color: #03a9f3; }

.stat-icon.flat-color-0, .stat-icon.flat-color-1, .stat-icon.flat-color-2, .stat-icon.flat-color-3, .stat-icon.flat-color-4 {
	display: inline-block;
	font-size: 1.5rem !important;
	width: 10%;
	text-align: center;
/*    border:1px solid black;*/
}

.stat-content-results, .stat-content {
	display: inline-block;
	margin-left:1%;
    align-items: center;
}

.stat-content-results {
	width: 98%;
}

.stat-content-results .stat-title {
	width: 88%;
}
.stat-content-results .stat-number {
	width: 10%;
	text-align: right !important;
}

.stat-title.special {
	width: 100%;
	text-align: center;
}

.stat-body.special {
	width: 100%;
}

.stat-icon.special {
	width: 10%;
	display: inline-block;
}

.stat-content.special {
	width: 88%;
	text-align: right;
	display: inline-block;
	margin-left: 12%;
	margin-top: -20px;
}

.stat-number.special {
	width: 100%;
}

.stat-content {
	width: 85%;
/*    border:1px solid blue;*/
}

.stat-content-bt {
	display: inline-block;
	width: 75%;
}

.stat-title {
    display: inline-block;
    width: 65%;
    vertical-align: top;
/*    border:1px solid blue;*/
}

span.count-title {
	font-size: 1.1rem;
}

.stat-text.small {
	font-size: 0.9rem;
    font-weight: 600;
    line-height: 60px;
}

.stat-number {
	display: inline-block;
	font-size: 1.1rem;
    font-weight: 600;
    width: 30%;
    text-align: right;
/*    border:1px solid red;*/
}

.stat-box.bottom {
    min-height:300px;
    padding:0px;
}

.stat-widget-five {
/*	border:1px solid red;*/
}
