{% load i18n common_tags %}

<span id="div-notification"></span>

<div class="card product-data-card">
    <div class="card-body">
        <div id="patient-container">
            <div class="product-data-header">
                <div>
                    <h2>{% trans "Datos del producto" %}</h2>
                    <p>{% trans "Consulta o actualiza la información y condiciones de compra." %}</p>
                </div>
                <button id="btn-edit" class="btn btn-sm toggle-edit new" data-class-name="input" data-text="{%trans "Edit"%}"
                    data-text-alt="{%trans "Hecho"%}">
                    <i class="fas fa-pen"></i> {%trans "Edit"%}
                </button>
            </div>
            <div class="product-data-form patient-data">{% include "products/product-form.html" %}</div>
        </div>
    </div>
</div>
