{% load i18n %}

<div class="stat-box color-4"> 
    <div class="patient-data-title p-2">
        <div class="col-9 col-offset-1"> {{obj.name}}</div>
        <div class="col-2 text-end">
	        <a class="btn btn-sm new" href="{% url "shifts-index" %}"> <i class="fas fa-arrow-left"></i> {% trans "Volver" %}</a> 
            {% if perms.remove_shifts %}
                <a class="btn btn-sm new" href="{% url "shifts-remove-shift" obj.id %}"
                    onclick="return confirm('{%trans "Está seguro/a de que desea borrar este elemento?"%}')"> 
                    <i class="fas fa-trash"></i> {% trans "Eliminar" %}</a> 
            {% endif %}
	    </div>
    </div>
</div>
<div id="div-container" class="stat-box mt-1">
    <div id="organization-container">
        <div class="row w-100 patient-data-body-2 m-0">
            <div class="col-10">
                <h2>{% trans "Detalle del turno" %}</h2>
            </div>
            <div class="col-2 text-end">
                <button id="btn-edit" class="btn btn-sm toggle-edit new" data-class-name="input" data-text="{%trans "Edit"%}" 
                    data-text-alt="{%trans "Hecho"%}">{%trans "Edit"%} </button>
            </div>
            <div class="col-12 patient-data">
                <div class="row m-0">
                    <div class="col-12 mt-3">
                        <label class="label">{% trans "Nombre" %}</label>
                        <input type="text" class="form-control input autosave" id="name" name="name" value="{{obj.name|default:""}}" 
                            title="{{obj.name}}" data-model-name="shifts2.shift" data-obj-id="{{obj.id}}" 
                            data-url="{%url "autosave_field"%}" data-target="div-notification" placeholder="Nombre..." disabled/>
                    </div>
                    <div class="col-3 mt-3">
                        <label class="label">{% trans "Fecha de inicio" %}</label>
                        <input type="date" class="form-control input autosave" id="ini_date" name="ini_date" value="{{obj.ini_date|date:"Y-m-d"}}" 
                            data-model-name="shifts2.shift" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                            data-target="div-notification" disabled/>
                    </div>
                    <div class="col-3 mt-3">
                        <label class="label">{% trans "Hora de inicio" %}</label>
                        <input type="time" class="form-control input autosave" id="ini_time" name="ini_time" value="{{obj.ini_time|date:"H:i"}}" 
                            data-model-name="shifts2.shift" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                            data-target="div-notification" disabled/>
                    </div>
                    <div class="col-3 mt-3">
                        <label class="label">{% trans "Fecha de fin" %}</label>
                        <input type="date" class="form-control input autosave" id="end_date" name="end_date" value="{{obj.end_date|date:"Y-m-d"}}" 
                            data-model-name="shifts2.shift" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                            data-target="div-notification" disabled/>
                    </div>
                    <div class="col-3 mt-3">
                        <label class="label">{% trans "Hora de fin" %}</label>
                        <input type="time" class="form-control input autosave" id="end_time" name="end_time" value="{{obj.end_time|date:"H:i"}}" 
                            data-model-name="shifts2.shift" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                            data-target="div-notification" disabled/>
                    </div>
                    <div class="col-12 mt-3 border-bottom border-primary">
                        <label class="label">{% trans "Descripción" %}</label>
                        <textarea class="form-control input autosave" id="desc" name="desc" title="{{obj.desc}}" 
                            data-model-name="shifts2.shift" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                            data-target="div-notification" placeholder="Escriba aquí la descripción..." disabled>{{obj.desc}}</textarea>
                    </div>
                    <div class="col-12 mt-3">
                        <label class="label">{% trans "Empleado" %}</label>
                        {%comment%}
                        <select class="form-control input autosave" name="employees" id="employees" data-model-name="shifts2.shift" 
                            data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" multiple disabled>
                        {%endcomment%}
                        {%comment%}
                        <select class="form-control input ark_change" name="employees" id="employees"  
                            data-obj_id="{{obj.id}}" data-url="{%url "shifts-add-employee"%}" multiple disabled>
                            {% for item in emp_list %}
                                <option value="{{item.id}}" {%if item in obj.employees.all%}selected{%endif%}>{{item.username}}</option>
                            {% endfor %}
                        </select>
                        {%endcomment%}
                        <div class="row m-0">
                        {% for item in emp_list %}
                            <div class="col-3 mb-3 text-center p-1">
                                <button class="btn {%if item in obj.employees.all%}btn-outline-primary{%else%}btn-outline-default{%endif%} ark w-100 border"
                                    data-url="{%url "shifts-add-employee"%}" data-target="" data-obj_id="{{obj.id}}" data-value="{{item.id}}"
                                    onclick="$(this).toggleClass('btn-outline-default btn-outline-primary')">
                                    {{item.first_name}} <br/> <small>({{item.employee_profile.user_type.name}})</small>
                                </button>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>    
         </div>
    </div>
</div>

{%comment%}
<div class="flex space-between center-vertical vertical-separator">
	<h5> {% trans "Eventos"%} </h5>
	<div class="tools">
        <a class="cancel btn btn-tools tools-primary btn-labeled ark" data-url="{% url "shifts-shift-calendar" %}" data-target="div-events">   
            <i class="fas fa-arrow-left"></i> {% trans "Volver" %}</a> 
        {% if perms.create_events %}
            <a class="cancel btn btn-tools tools-primary btn-labeled mgf-edit-toggle" data-mg-form="#event-mg-form" data-mg-editable="true" 
                data-select-all="select_all"> <i class="fas fa-pencil-alt"></i> {% trans "Editar" %}</a>
            <a class="cancel btn btn-tools tools-danger btn-labeled ark" data-url="{% url "shifts-remove-event" %}" data-target="div-events" 
                data-obj_id="{{obj.id}}"> <i class="fas fa-window-close"></i> {% trans "Borrar" %}</a> 
        {% endif %}
	</div>
</div>

    <div class="product-card">
	    <div class="row column-left p-3" >
            <span class="title-0 pl-3">Nombre</span><br >
            <div class="col-lg-12">
                <input type="text" class="form-control autosave w-100" name="name" id="name__{{obj.pk}}" bind="#event-name" 
                    placeholder="{% trans "Nombre del evento"%}" value="{{ obj.name }}" data-model-name="cam.event" data-obj-id="{{obj.id}}">
                    <h4 class="event-name bold">{{ obj.name|default:"Nombre del evento" }}</h4>
                </input>
            </div>

            <span class="title-0 pl-3">Fechas</span><br />
            <div class="col-lg-12"><strong>Fecha de inicio:</strong>
                <input type="date" class="form-control autosave" name="ini_date" id="ini_date__{{obj.pk}}" 
                    value="{{ obj.ini_date|date:"Y-m-d"}}" data-model-name="cam.event" data-obj-id="{{obj.id}}">{{obj.ini_date|date:"Y-m-d"}}
                </input> (
                <input type="time" class="form-control autosave" name="ini_time" id="ini_time__{{obj.pk}}" 
                    value="{{ obj.ini_time|date:"H:i"}}" data-model-name="cam.event" data-obj-id="{{obj.id}}">{{obj.ini_time|date:"H:i"}}
                </input> )
            </div>
            <div class="col-lg-12"><strong>Fecha de fin:</strong>
                <input type="date" class="form-control autosave" name="end_date" id="end_date__{{ obj.pk }}" 
                    value="{{ obj.end_date|date:"Y-m-d"}}" data-model-name="cam.event" data-obj-id="{{ obj.id }}">{{obj.end_date|date:"Y-m-d"}}
                </input> (
                <input type="time" class="form-control autosave" name="end_time" id="end_time__{{ obj.pk }}" 
                    value="{{ obj.end_time|date:"H:i"}}" data-model-name="cam.event" data-obj-id="{{ obj.id }}">{{obj.end_time|date:"H:i"}}
                </input>	)			
            </div>
            
            <div class="col-lg-12 pt-3">
                <span class="title-0">Descripción</span>
                <textarea class="form-control autosave w-100" name="desc" id="desc__{{obj.pk}}" 
                    placeholder="{% trans "Descripción del evento"%}" value="{{ obj.desc }}" data-model-name="cam.event" data-obj-id="{{obj.id}}">
                    {{ obj.desc|default:"Descripción del evento" }}	
                </textarea>
            </div>
		</div>

	    <div class="row column-right p-3">	
            <span class="title-0 p-3">Clientes</span>
            <div class="label-cont col-lg-12">
                <div class="tools pb-3">
                    <input type="text" class="select_all filter_multiselect w-65" data-select="mg-option-btn" 
                        style="display:none; border:1px solid #ccc; padding: 10px;" />
                    <a class="btn-tools btn-labeled btn-sm select_all autosave_multiselect pt-3" data-select="clients__{{obj.pk}}" data-options="all"
                        style="display:none"><i class="fas fa-check-circle"></i> {%trans "Seleccionar todos"%}</a>
                    <a class="btn-tools btn-labeled btn-sm select_all autosave_multiselect pt-3" data-select="clients__{{obj.pk}}" data-options=""
                        style="display:none"><i class="far fa-times-circle"></i> {%trans "Deseleccionar todos"%}</a>
                </div>
                <select class="form-control autosave" name="clients" id="clients__{{ obj.pk }}" data-model-name="cam.event" 
                    data-obj-id="{{obj.id}}">
                    {% for item in emp_list %}
                        <option value="{{item.id}}" {%if item in obj.employees.all%}selected{%endif%}>{{item.username}}</option>
                    {% endfor %}
                </select>
            </div>
		</div>
	</div>
</mg-form>
{%endcomment%}

