{% load i18n %}


<table class="table table-striped table-hover">
    <thead>
        <tr class="small small">
            <th class="row main-th">
                <div class="col-4"> {% trans 'Nombre' %} </div>
                <div class="col-1"></div>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for item in item_list %}
            <tr class="small" id="row_{{item.id}}">
                <td class="row">
                    <div class="col-4">{{ item.principioactivo }}</div>
                    <div class="col-1">
                        <a class="btn btn-sm ark" data-url="{%url "patient-allergy-principles"%}" data-obj_id="{{item.codigoprincipioactivo}}" 
                            data-patient_id="{{obj.id}}" data-target-modal="common-modal" title="{% trans 'Add' %}">
                            <i class="fas fa-plus"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

