{% load i18n static %}

<script>
    var ev_list = calendar.getEvents();
    for(let ev of ev_list) { ev.remove(); }
            
    {% for item in note_list%}
        calendar.addEvent({
            id: '{{item.pk}}',
            title: '<span style="font-size:0.8em">{%if item.name != ""%}<b>{{item.name}}</b>{%else%}{{item.pk}}{%endif%}<br/> - {{item.employee_list}}</span>',
            start: '{{item.ini_date|date:"Y-m-d H:i"}}',
            end: '{{item.end_date|date:"Y-m-d H:i"}}',
            display: 'block',
        });
    {% endfor %}
</script>

