{% load i18n common_tags %}

<table>
    <tr style="border: none">
        <td >
            <img src="{% userqr_code request patient %}" style="display:block; width:1.5cm; height:1.5cm; margin-right:-1.2cm;"/>
            <small style="font-size: 6pt; margin-top: 0; display: block; text-align:center">{{ patient.n_historial}}</small>
        </td>
        <td> <h5>CONSENTIMIENTO INFORMADO PROTECCI&Oacute;N DATOS  </h5> </td>
    </tr>
</table>

<p><span style="">Conforme a la normativa vigente en materia de protección de datos, le informamos que los datos de carácter personal por usted aportados u obtenidos a través de la participación en actividades grupales o individuales de esta Fundación, serán tratados de forma leal, transparente, adecuada, pertinente, limitada, exacta y actualizada. Es por ello que solicitamos su consentimiento expreso, para tratar sus datos, con los siguientes fines:</span></p>
<p><span style="">Tratar y conservar sus datos para una mejor atención integral para el ejercicio efectivo de sus derechos humanos y dignidad. En concreto, para:
</span></p>
<ul class="accept-terms">
	{% if not signing %}
	    <li style=""><input type="checkbox" class="check-btn" checked data-target="#check2">Comunicaciones y derivaciones a otros recursos comunitarios relacionadas con sus citas, trámites y acompañamiento, vía correo electrónico, llamadas de voz y/o mensajería instantánea (sms o whatsapp).</span></li>
	    <li style=""><input type="checkbox" class="check-btn" checked data-target="#check3">Invitación a participación en actividades relacionadas con la protección, respeto y promoción de los derechos humanos y una vida digna, por lo tanto, alineadas con los fines fundacionales de FUNDEC, ya sean actividades organizadas por esta Fundación o por otras organizaciones aliadas.</span></li>
	{% else %}
	    <li style=""><img src="{{host}}/pharma/assets/{{check2_img}}" style="width: 1em; height:1em;"/>
            &nbsp;Comunicaciones y derivaciones a otros recursos comunitarios relacionadas con sus citas, trámites y acompañamiento, vía correo electrónico, llamadas de voz y/o mensajería instantánea (sms o whatsapp).</span></li>
	    <li style=""><img src="{{host}}/pharma/assets/{{check3_img}}" style="width: 1em; height:1em;"/>
            &nbsp;Invitación a participación en actividades relacionadas con la protección, respeto y promoción de los derechos humanos y una vida digna, por lo tanto, alineadas con los fines fundacionales de FUNDEC, ya sean actividades organizadas por esta Fundación o por otras organizaciones aliadas.</span></li>
	{% endif %}
</ul>

<table style="">
	<tbody>
		<tr>
			<td> <p><strong>Responsable</strong></p> </td>
			<td> <h4><strong>{{ company.manager.first_name }} {{ company.manager.last_name}}<strong></h4> </td>
		</tr>
		<tr>
			<td> <p><strong>Direcci&oacute;n</strong></p> </td>
			<td> <p>{{ company.main_address}} {{ company.postal_code }}, {{company.locality}} </p> </td>
		</tr>
		<tr>
			<td> <p><strong>Finalidad</strong></p> </td>
			<td>
				<p>Atención social y comunitaria, investigación y transferencia, formación, incidencia política, defensoría de derechos, innovación social y otros servicios de su interés alineados con los fines fundacionales</p>
			</td>
		</tr>
		<tr>
			<td> <p><strong>Legitimaci&oacute;n</strong></p> </td>
			<td> <p>Consentimiento informado</p> </td>
		</tr>
		<tr>
			<td> <p><strong>Destinatarios</strong></p> </td>
			<td>
				<p>Corporación de derecho público, administraciones públicas con competencias en la materia y asociaciones con servicios relacionados con la finalidad por la que se pide el consentimiento. Cesiones legalmente establecidas.</p>
			</td>
		</tr>
		<tr>
			<td> <p><strong>Derechos</strong></p> </td>
			<td>
				<p>De acceso, rectificación y supresión A reclamar ante AGPD (agpd.es) A retirar el consentimiento dado.</p>
			</td>
		</tr>
	</tbody>
</table>

<p><span style="">Conservaremos sus datos personales, mientras exista un interés legítimo y mutuo. El responsable garantiza tener implantadas las medidas de seguridad de índole técnica y organizativa necesarias, que garanticen la seguridad de los datos personales aportados.</span></p>

<p><span style="">La persona abajo firmante, consiente en el tratamiento de sus datos personales, en los términos relacionados: </span></p>

<p><strong>En {{company.main_address}} &ndash; {{company.town}}, a {% now "d \d\e F \d\e Y" %}.</strong></p>

<p>Fdo: <strong>{{patient.nombre}} {{patient.apellido}} </strong>DNI: <strong>{{patient.nif}} </strong> CIP: <strong>{{patient.cip}}</strong></p>

