{% load i18n %}


<div class="d-flex justify-content-end"> <button type="button" class="btn btn-lg" data-bs-dismiss="modal" title="{% trans "Close" %}">
    <i class="fas fa-times"></i></button> </div>

<h2>{% trans 'Editar parámetros' %}</h2>


<div id="div-notification"></div>

<div class="tabs mt-3">
    <div class="tab-item active ark" data-url="{% url "patient-params-form-tab" %}" data-target="div-params-container" 
        data-obj_id="{{obj.id}}" data-tab="antropo"><span class="hide-mobile">&nbsp; {% trans "Antropo." %}</span></div>
    <div class="tab-item ark" data-url="{%url "patient-params-form-tab"%}" data-target="div-params-container" data-obj_id="{{obj.id}}"
        data-tab="cardio"> <span class="hide-mobile">&nbsp; {% trans "Cardio." %}</span></div>
    <div class="tab-item ark" data-url="{%url "patient-params-form-tab"%}" data-target="div-params-container" data-obj_id="{{obj.id}}"
        data-tab="resp"> <span class="hide-mobile">&nbsp; {% trans "Respiratorios" %}</span></div>
    <div class="tab-item ark" data-url="{%url "patient-params-form-tab"%}" data-target="div-params-container" data-obj_id="{{obj.id}}" 
        data-tab="endo"> <span class="hide-mobile">&nbsp; {% trans "Endocrinos" %}</span></div>
    <div class="tab-item ark" data-url="{%url "patient-params-form-tab"%}" data-target="div-params-container" data-obj_id="{{obj.id}}"
        data-tab="lipuric"> <span class="hide-mobile">&nbsp; {% trans "Perfil Lip-Uric" %}</span></div>
    <div class="tab-item ark" data-url="{%url "patient-params-form-tab"%}" data-target="div-params-container" data-obj_id="{{obj.id}}"
        data-tab="renal"> <span class="hide-mobile">&nbsp; {% trans "Func. Renal" %}</span></div>
    <div class="tab-item ark" data-url="{%url "patient-params-form-tab"%}" data-target="div-params-container" data-obj_id="{{obj.id}}"
        data-tab="hepa"> <span class="hide-mobile">&nbsp; {% trans "Func. Hepática" %}</span></div>
    <div class="tab-item ark" data-url="{%url "patient-params-form-tab"%}" data-target="div-params-container" data-obj_id="{{obj.id}}"
        data-tab="pain"> <span class="hide-mobile">&nbsp; {% trans "Dolor" %}</span></div>
</div>

<div id="div-params-container">{% include "patient/parameters/params-form-antropo.html" %}</div>
<div class="row justify-center">
    <div class="col-12 text-left p-1">
        <div class="greybox-sm p-1">
            {% trans "Fecha" %}
            <input type="text" class="form-control autosave" id="date" name="date" value="{{obj.date|date:"d-m-Y H:M"}}" 
                title="{{obj.date}}" data-model-name="pharma.bloodpressure" data-obj-id="{{obj.id}}" 
                data-url="{%url "autosave_field"%}" data-target="div-notification"/> <span id="date__msg"></span>
        </div>
    </div>
    <div class="col-12 text-left p-1">
        <div class="greybox-sm p-1">
            {% trans "Observaciones" %}
            <input type="text" class="form-control autosave" id="observations" name="observations" 
                value="{{obj.observations|default:""}}" title="{{obj.observations}}" data-model-name="pharma.bloodpressure" 
                data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" data-target="div-notification"/> 
            <span id="observations__msg"></span>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-sm ark save" data-bs-dismiss="modal" data-url="{% url "patient-params" %}"
        data-target="div-container" data-obj_id="{{obj.patient.id}}">{% trans "Guardar" %}</button>

    <button class="btn btn-sm ark cancel" data-bs-dismiss="modal" data-url="{%url "patient-params-remove"%}" data-obj_id="{{obj.id}}" 
        data-target="div-container" title="{% trans 'Eliminar' %}" data-confirm="{% trans "Are you sure to remove this element?" %}">
        {% trans "Remove" %}</a>
</div>

{% include "patient/parameters/params-script.html" %}
