{% extends 'base.html' %}
{% load i18n static %}

{% block central_content %}
    <form action="{% url 'import-db' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-4"><input type="file" class="form-control" name="file"/></div>
            <div class="col-4"><select class="form-control" name="db">
                <option value="type">Product Type</option>
                <option value="prov">Provider</option>
                <option value="prod">Product</option>
            </select></div>
            <div class="col-4"><input type="submit" class="form-control" value="Importar"/></div>
        </div>
    </form>
{% endblock central_content %}
