{% load i18n static account_tags %}

<div class="grl-block pt-3 m-1">
    {#<h3 class="text-center">Soy un nuevo donante</h3>#}
    <form action="{%url "donation-send"%}" method="post" enctype="multipart/form-data" name="frmDonation" id="frmDonation" class="">
        {% csrf_token %}
        <!--contact form start-->
        {#<div class="row w-100 m-0"> <div class="col-lg-5 col-12"> <h1 class="login">Donaciones</h1> </div> </div>#}

        {% get_donation_select %}

        <div class="row m-0">
            <div class="col-lg-6 col-12 conForm form-group">
                <input type="text" id="name-d" name="name-d" class="form-control" title="Nombre" placeholder="(*) Nombre" required/> </div>
            <div class="col-lg-6 col-12 conForm form-group">
                <input type="text" id="cif-d" name="cif-d" class="form-control" title="CIF" placeholder="(*) CIF/NIF" required/> </div>
            <div class="col-lg-6 col-12 conForm form-group"> <input type="text" id="email-d1" name="email-d1" class="form-control" 
                title="Correo electrónico" placeholder="(*) Email&nbsp;" required/> </div>
            <div class="col-lg-6 col-12 conForm form-group"><input type="text" id="email-d2" name="email-d2" class="form-control"
                title="Confirmación de correo" placeholder="(*) Confirma email &nbsp;" required/> </div>
            <div class="required-fields">(*) Campos obligatorios</div>
            <div class="acceptCheck small">
                <input type="checkbox" id="tos-d" name="tos-d"/> 
                <label>&nbsp; Acepto las <a class="ark pointer" href="https://fundec.org/cms/politica/" target="_blank"> condiciones de uso</a> </label>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-lg-4 col-12 text-center">
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="g-recaptcha" data-sitekey="6Lex26gUAAAAAAz2BSZPNuHpj5-84MYnkIzvsTy4"></div>
            </div>
            <div class="col-lg-7 offset-lg-1 col-12"> <button id="btn-donation-send" class="submitBnt register">Realizar donación</button> </div>
            <div id="div-donation-errors" class="alert-msg hideClass"></div>
        </div>
    </form>
</div>
 
