<div style="width:100%">
	<div class="ql-align-justify p-3" style="background: #812c7c; border-radius: 5px; color:white;-webkit-box-shadow: 0px 10px 13px -7px #000000, -4px 5px 12px -3px rgba(0,0,0,0); box-shadow: 0px 10px 13px -7px #000000, -4px 5px 12px -3px rgba(0,0,0,0);">
		<p style="color: white;"><strong>Con tu participación en las actividades de la Fundación consigues que ésta sea una realidad, con una historia y un futuro, con un programa de actividades y proyectos que crean comunidad y justicia social</strong>
        <br/><br/>Los donantes personas físicas pueden deducir de la cuota íntegra del IRPF, con un límite del 10% de la base liquidable, el 80% de los primeros 250€ donados y el 35% del resto (o 40% a partir del tercer año, si cada año la cantidad donada a la misma fundación es igual o superior), como deducción estatal.
        <br/><br/>Los donantes personas jurídicas pueden deducir la cuota íntegra del Impuesto de Sociedades, con un límite del 10% de la base imponible, un 35% del importe donado (o un 40% a partir del tercer año, si cada año la cantidad donada a la misma fundación es igual o superior). Puedes consultarlo en <a href="https://sede.agenciatributaria.gob.es/" target="_blank" style="color:#ffc127;">www.aeat.es</a>
        <br/><br/>Si deseas realizar una transferencia bancaria, puedes hacerlo en esta cuenta: <strong>ES05 3076 0230 2127 0154 6323</strong>
        <br/><br/>También puedes hacer la donación directamente por BIZUM. Desde la App Bancaria en la que tengas Bizum, selecciona la  opcion Donar a una causa solidaria, introduce nuestro código y elige el importe que quieras donar. 
        <br/>Código donacion: <strong>11313</strong>
        </p>
	</div>

    {%comment%}
	<div class="ql-align-justify p-3" style="background: #812c7c; border-radius: 5px; color:white;-webkit-box-shadow: 0px 10px 13px -7px #000000, -4px 5px 12px -3px rgba(0,0,0,0); box-shadow: 0px 10px 13px -7px #000000, -4px 5px 12px -3px rgba(0,0,0,0);">
		<p style="color: white;"><strong>Con tu participación en las actividades de la Fundación consigues que ésta sea una realidad, con una historia y un futuro, con un programa de actividades y proyectos que crean comunidad y justicia social</strong>
		<br />Los donantes personas físicas pueden deducir de la cuota íntegra del IRPF, con un límite del 10% de la base liquidable, el 80% de los primeros 150€ donados y el 35% del resto (o 40% a partir del tercer año, si cada año la cantidad donada a la misma fundación es igual o superior), como deducción estatal.
		<br />Los donantes personas jurídicas pueden deducir la cuota íntegra del Impuesto de Sociedades, con un límite del 10% de la base imponible, un 35% del importe donado (o un 40% a partir del tercer año, si cada año la cantidad donada a la misma fundación es igual o superior). Puedes consultarlo en <a href="https://sede.agenciatributaria.gob.es/" target="_blank" style="color:#ffc127;">www.aeat.es</a>
		<br />Si deseas realizar una transferencia bancaria, puedes hacerlo en esta cuenta: ES05 3076 0230 2127 0154 6323</p>
	</div>
    {%endcomment%}
</div>
	
