{% extends 'base-home.html' %}
{% load i18n static account_tags %}

{% block central_content %}
    <script src="{% static "js/utils.js" %}"></script>

    <section class="contactDetails" id="donation">
        <div class="container mt-5"> 
            <div class="row">
                <div class="col-12"> <div class="row"> <div class="col-lg-5 col-12"> <h1 class="login">Donaciones</h1> </div> </div> </div>
            </div>

            <br/>
		    <div class="row"> <div class="col-12">{%include "account/donations-text.html"%}</div> </div>

            <br/>
            <div class="row p-2 mt-3"> <div class="col-12">{%include "account/donations-form.html"%}</div> </div>
        </div>
    </section> 
    <script> $(".menu-item").removeClass("active"); $("#menu-donations").addClass("active"); </script>
{% endblock central_content %}

                {%comment%}
                <div class="col-lg-4 col-12">
                    <div class="grl-block pt-3 m-1">
                        <h3 class="text-center">Ya soy donante</h3>
                        <form class="form-horizontal p-2" method="post" action="{% url "auth_login" %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{% url 'pharma-index' %}" />
                            <div class="row">
                                <div class="col-12 conForm form-group">
                                    <input type="text" name="username" value="" id="username" class="form-control" placeholder="Nombre de usuario"/>
                                </div>
                                <div class="col-12 conForm form-group">
                                    <input name="password" type="password" value="" id="password" class="form-control" placeholder="Contraseña"/>
                                </div>
                                <div class="mt-2">
                                    <button id="btn-login" class="submitBnt register"> Acceder </button>
                                    <a class="a-pass small pointer" onclick="$('#donation-new-passwd').toggle()">{% trans "¿Has olvidado tu contraseña?" %}</a> 
                                </div>
                            </div>
                        </form>

                        <div id="donation-new-passwd" class="hideClass">
                            <form class="form-horizontal p-2" method="post" action="{% url "send_new_password_by_email" %}">
                                {% csrf_token %}
                        <div class="recover-pass text-center">
                                    <input name="email" type="text" value="" id="email" class="form-control w-100" placeholder="Indique su correo electrónico"/>
                                    <button type="submit" class="btn btn-info form-control w-50" id="btn-submit">{% trans "Enviar nuevo password" %}</button> 
                        </div>
                            </form>
                        </div>
                    </div>
                </div>
                {%endcomment%}


