{% load i18n %}

{% if request.user.is_authenticated %}
    <div id="main" class="" style="margin:0;padding:0;">
        <div class="row header sticky-top" style="margin:0;">
            <div class="col-1 divbars-menu pt-3"><a href="#" class="menu-btn"><i class="fas fa-bars"></i></a></div>
	        <div class="col-5 divLogo text-left">
                <a href="{% url "pharma-index" %}"><img src="/static/imgs/logo-capsulae.png" width="100px"></a></div>
            <div class="col-5 text-end" style="padding-top:15px">
                <small>{% trans "Bienvenido" %} {{request.user.first_name}} {{request.user.last_name}}</small>
            </div>
            <div class="col-1 divIcons justify-content-center">
                <div class="dropdown profile-btn">
                    <a class="" type="button" id="dropdownProfile" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i> </a>
                    <div class="dropdown-menu user-dropdown" aria-labelledby="dropdownProfile">
                        <ul>
                            <li><a href="{% url "profile-view" %}"><i class="fas fa-user"></i> Mi perfil</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a href="{% url 'auth_logout' %}"><i class="fas fa-power-off"></i> Salir</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

