{% load i18n static common_tags %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>Fundec</title>
	    <link rel="icon" type="image/x-icon" href="/static/imgs/favicon.ico">

        {% block extrahead%} {% endblock extrahead%}

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" 
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" 
            integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

        <!-- Font awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" 
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" 
            crossorigin="anonymous"></script>

        <!-- CKeditor -->
        <script src="//cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>

        <!-- Shidix -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" >
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" >
        <link rel="stylesheet" href="{% static 'css/login.css' %}" >
        <script src="{% static "js/common.js" %}"></script>
        <script src="{% static "js/utils.js" %}"></script>

        <!-- Favicons -->
        <meta name="theme-color" content="#7952b3">
    </head>

    <body>
        <div id="main-layout-container">
	        {% comment %} {% include "base_header.html" %} {% endcomment %}

            <main id="main-content w-100">
	            <div class="row header sticky-top w-100" style="margin:0;">
			        <div class="col-lg-2 col-4 divLogo text-left">
                        <a href="/pharma/index/"><img src="/static/imgs/logo-capsulae.png" width="100px"></a>
                    </div>
	    	    </div>
                <div class="col-10 offset-1" id="content-section"> {% block central_content %}{% endblock central_content %} </div>
            </main>

            <div class="overlay"></div>
    </body>
</html>
