<section class="perfiles" id="perfiles">
                <div class="container">
                    <div class="col-lg-12 col-12 heading">
                            <h2>Perfiles</h2>
                            <h3>Existen dos perfiles de usuarios bien diferenciados dentro de Capsulae que se distinguen en Farmacias y Organizaciones.</h3>        
                        </div>	
                    <div class="row perfil-box m-0">        
                        <div class="expertiesico col-lg-2 col-12"><span class="ico"><i class="fas fa-clinic-medical"></i></span></div>
                        <div class="expertiesdesc col-lg-10 col-12">
                                    <h4>SOY UNA FARMACIA</h4>
                                    <p>Los programas de gestión clínica son una herramienta fundamental a la hora de gestionar la complejidad farmacoterapéutica, especialmente en pacientes ancianos y pluripatológicos. <br><br>
                                    Capsulae tiene sus inicios en el año 2005 ante la necesidad de gestionar los tratamientos médicos de distintas residencias sociosanitarias y evoluciona posteriormente bajo distintas denominaciones: Suberalia, Clinic, Clinicarea y finalmente Capsulae, ampliando sus capacidades para cubrir y facilitar, todo lo relacionado con el uso adecuado de los medicamentos, la gestión de historias clínicas, farmacológicas, sociales, siempre con una visión abierta, colaborativa e interconectada que facilita su uso por distintos profesionales e instituciones (médicos, farmacéuticos, enfermeros, podólogos, odontólogos y trabajadores del ámbito de lo social). </p>
                        </div>
                    </div>	
                
                    <div class="row perfil-box m-0">        
                        <div class="expertiesico col-lg-2 col-12"><span class="ico"><i class="fas fa-users"></i></span></div>
                        <div class="expertiesdesc col-lg-10 col-12">
                                    <h4>SOY UNA ASOCIACIÓN</h4>
                                    <p>Capsulae evoluciona hacia la gestión integral de distintos establecimientos sociosanitarios y organizaciones, intentando abarcar toda la gestión de los mismos y personalizar la experiencia del usuario.</p>
                        </div>
                    </div>	       
                </div>
            </section>
