 {% load i18n %}

<div class="d-flex justify-content-end"> <button type="button" class="btn btn-lg" data-bs-dismiss="modal" title="{% trans "Close" %}">
    <i class="fas fa-times"></i></button> </div>
<h2>{% trans 'Logs' %} {{title}}</h2>
<div class="row justify-center"> <div class="col-12 mt-3 p-2"> <div class="greybox-xlg p-2"> 
    <div style="max-height:600px;overflow:scroll">{{text|safe}}</div>
</div> </div> </div>
<div class="d-flex justify-content-end"> <button type="button" class="btn btn-sm save" data-bs-dismiss="modal">{% trans "Close" %}</button> </div>
   
