{% extends 'base.html' %}
{% load i18n pharma_tags shifts2_tags agenda_tags common_tags %}

{% block second_menu %}{#{% include 'web/second_menu.html' %}{% get_second_menu request.user %}#} {% endblock second_menu %}

{% block central_content %}

<div class="row">
    {% if user|have_menu:"PAC"%}
        <div class="col-12">
            <div class="stat-box color-1"> 
                <div class="stat-box-body p-0 m-0"> 
                    <div class="stat-widget-five">
                        <div class="stat-icon flat-color-1"><i class="fas fa-users"></i></div>
                        <div class="stat-content">
                            <div class="stat-title"><span class="count-title">{% trans "Pacientes" %}</span></div>
                            <div class="stat-number">{{request.user|get_patients}}</div>
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
    {% endif %}

    {%comment%}
    {% if user|have_menu:"MED"%}
        <div class="col-lg-6 col-12">
            <div class="stat-box color-3"> 
                <div class="stat-box-body"> 
                    <div class="stat-widget-five">
                        <div class="stat-icon flat-color-4"><i class="fa fa-barcode"></i></div>
                        <div class="stat-content">
                            <div class="stat-title"><span class="count-title">{% trans "Medicamentos" %}</span></div>
                            <div class="stat-number">30</div>
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
    {% endif %}
    {%endcomment%}
</div>
    
{% if user|have_menu:"SPD"%}
    <div class="row">
        <div class="col-12">
            <div class="stat-box color-2"> 
                <div class="stat-box-body">
                    <div class="stat-widget-five pb-3" style="border-bottom: 4px solid #dc3545">
                        <div class="stat-icon flat-color-2"><i class="fa fa-pills"></i></div>
                        <div class="stat-content">
                            <div class="stat-title"><span class="count-title">{% trans "Pastilleros" %}</span></div>
                            <div id="div-pillbox-number" class="stat-number"></div>
                        </div>
                    </div>
                    <div>{% get_pillbox_list request.user %}</div>
                </div> 
            </div>
        </div>
    </div>
{% endif %}

{% if user|have_menu:"TUR"%}
        <div class="col-12">
            <div class="stat-box color-3"> 
                <div class="row register-hours p-3 m-0">
                       <div class="col-1 shadowBox flat-color-2 pt-2 text-center"><i class="fa fa-clock large"></i></div>
                       <div class="col-8 pt-2"><span class="count-title">{% trans "Control Horario" %}</span></div>
                       <div class="col-3 text-end">
                               {% if request.user|journey_started %}
                                   <a class="btn btn shadowBox-btn w-75" href="{% url "shifts-journey-end" %}">
                                       <i class="fas fa-times large"></i> Finalizar Jornada</a>
                               {% else %}
                                   <a class="btn btn shadowBox-btn w-100" href="{% url "shifts-journey-start" %}">
                                       <i class="fa fa-play-circle large"></i> Iniciar Jornada</a>
                               {% endif %}
                           </div>
                       </div>        
                  <div>{% get_journey_list request.user %}</div>
            </div>
        </div>
    {% if user|in_group:"admins" or user|in_group:"managers"%}
            <div class="col-12">
                <div class="stat-box color-3"> 
                    <div class="row register-hours p-3 m-0">
                        <div class="col-1 shadowBox flat-color-2 p-2 text-center"><i class="fa fa-calendar large"></i></div>
                        <div class="col-11 pt-2"><span class="count-title">{% trans "Gestor de Turnos" %}</span></div>
                     </div>
                     <div>{% get_journey_stats request.user %}</div>
                </div>
            </div>
    {% endif %}
{% endif %}

{% if user|have_menu:"AGE"%}
        <div class="col-12">
            <div class="stat-box color-4"> 
                    <div class="row register-hours p-3 m-0">
                        <div class="col-1 shadowBox flat-color-2 p-2 text-center"><i class="fas fa-thumbtack large"></i></div>
                        <div class="col-11 pt-2"><span class="count-title">{% trans "Notas" %}</span></div>
                    </div>
                    <div>{% get_note_list request.user %}</div>
            </div>
        </div>
{% endif %}


{% endblock central_content %}
