{% load i18n %}


{% if delivers|length > 0 %}
    <input type="text" class="form-control front-search" id="search" data-row-class="row-deliver" 
        placeholder="{% trans "Escriba código a buscar..." %}"/>

    <table class="table table-striped table-hover table-condensed col-xs-12">
        <thead>
            <tr class="info">
	        <th><span class="d-block d-sm-none"><i class="fa fa-users"></i></span><span class="d-none d-sm-block"> Paciente</span> </th>
	        <th><span class="d-block d-sm-none"><i class="fas fa-list-alt"></i></span><span class="d-none d-sm-block"> Descripción</span> </th>
	        <th><span class="d-block d-sm-none"><i class="fas fa-flask"></i></span><span class="d-none d-sm-block"> Praparación</span> </th>
	        <th><span class="d-block d-sm-none"><i class="fas fa-clipboard-check"></i></span><span class="d-none d-sm-block"> Entrega </span> </th>
	        <th><span class="d-block d-sm-none"><i class="fas fa-hourglass-end"></i></span><span class="d-none d-sm-block"> Finalización </span> </th>
            <th></th>
            </tr>
        </thead>

        <tbody>
            {% for deliver in delivers %} {% with item=deliver.pillbox %}
                <tr class="small row-deliver" id="row-{{item.patient}}">
                    <td><a href="{% url "patient-view" item.patient.id %}#cap-panel-view-content">{{ item.patient }}</a></td>
                    <td>
                        {%if item.is_expired%}<i class="fas fa-ban text-danger" title="Pastillero caducado"></i>{%endif%} {{item.description}}
                    </td>
                    <td class="text-warning">{{deliver.creation_date|date:"d-m-Y"|default:"--"}}</td>
                    <td>{{deliver.deliver_date|date:"d-m-Y"|default:"--"}}</td>
                    <td>{{deliver.finish_date|date:"d-m-Y"|default:"--"}}</td>
                    <td class="text-right">
                        <a class="btn btn-xs w-25" title="{%trans "Imprimir blister"%}" href="{%url "spd-blister-print" deliver.id%}" target="_blank">
                            <i class="fas fa-print"></i></a>
                        <a class="btn btn-xs w-25 ark" title="{% trans "Editar blister" %}" data-url="{% url "spd-blister-form" %}"
                            data-target-modal="common-modal" data-obj_id="{{item.id}}" data-pillbox_id="{{item.pillbox.id}}">
                            <i class="fas fa-edit"></i></a>
                        <a class="btn btn-xs w-25 ark" title="{% trans "Eliminar blister" %}" data-url="{% url "spd-blister-remove" %}"
                            data-target="blister-list-{{item.pillbox.id}}" data-obj_id="{{item.id}}"
                            data-confirm="{% trans "Esta seguro/a de que desea eliminar este elemento?" %}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endwith %} {% endfor %}
        </tbody>
    </table>

    {% include "common-modal.html" %}
    <script>
        /*$("#search").keyup(function(){
            var value = $(this).val();
            if(value == "")
                $(".row-deliver").show();
            else
            {
                $(".row-deliver").each(function(){
                    var id = $(this).attr("id");
                    if (id.indexOf(value.toUpperCase()) != -1)
                        $(this).show();
                    else
                        $(this).hide();
                });
            }
        });*/
    </script>
{% endif %}

