{% load i18n %}


<div class="d-flex justify-content-end"> <button type="button" class="btn btn-lg" data-bs-dismiss="modal" title="{% trans "Close" %}">
    <i class="fas fa-times"></i></button> </div>

<h2>{% trans 'Editar Carpeta' %}</h2>

<div class="row justify-center">
    <div class="col-12 mt-3 p-2">
        <div class="greybox-xlg p-2">
            {% trans "Nombre" %}
            <input type="text" class="form-control autosave" id="name" name="name" value="{{obj.name}}" title="{{obj.name}}" 
                data-model-name="projects.folder" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" data-target="div-notification"/>
                <span id="name__msg"></span>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-sm ark save" data-bs-dismiss="modal" data-url="{% url "project-drive" %}"
        data-target="div-container" data-obj_id="{{obj.project.id}}">{% trans "Guardar" %}</button>
</div>

