{% load i18n %}

{% for item in item_list %}
    <div class="data-row move-popup">
        <div style="display:flex;"><span>{{item.name}}</span></div>
        <div class="tools pt-2" style=display:flex;">
            <a class="btn-tools tools-primary btn-labeled btn-sm folder-to-move ark" data-dismiss="modal" data-url="{% url "drive-move-file"%}" data-target="div-files" 
                data-file_id="" data-folder_id="{{item.id|safe}}" data-client_id="{{client.id}}" title="{% trans "Mover fichero" %}"> 
                <i class="fas fa-random"></i><span class="d-none d-sm-block">{% trans "Mover aquí" %}</span></a>
            <a class="btn-tools tools-primary btn-labeled btn-sm" id="btn-show-childs-{{item.id|safe}}" data-toggle="collapse" href="#div-child-{{item.id|safe}}" 
                {%if item.childs.all|length == 0%}style="display:none"{%endif%} title="{% trans "Ver subcarpetas" %}">
                <i class="fas fa-eye"></i><span class="d-none d-sm-block">{% trans "Ver subcarpetas" %}</span></a>
        </div>
    </div>
    <hr/>
    <div class="collapse" id="div-child-{{item.id|safe}}" style="padding-left: 2%;">
       <div style="padding-left: 25px; color: #2f0068;"> {% include "drive/folder-modal-childs.html" with item_list=item.childs.all %}</div>
    </div>
{% endfor %}

