{% extends 'base_simple.html' %}
{% load i18n %}

{% block central_content %} 
    <div class="content regact p-3">
        {% if end %}
            <div class=""> 
                Su registro se ha realizado con éxito! 
                <br/>
                <a class="btn btn-xs" title="{%trans 'Nuevo registro'%}" href="{% url "project-activity-register" obj.id %}"> 
                    {% trans "Nuevo registro" %}</a>
            </div>
    
        {% else %}
            {% if msg and msg != "" %} <div class="alert alert-danger">{{msg}}</div>{% endif %}

            <form action="{% url "project-activity-set-register" %}" method="post" enctype="multipart/form-data" name="frmRegister" id="frmRegister">
                {% csrf_token %}
                <input type="hidden" name="activity_id" value="{{obj.id}}" />

                <h2>{% trans 'Registro en la actividad' %} <strong>{{obj.name}}</strong></h2>

                <p>{{obj.desc|safe}}</p>

                <div class="row justify-center">
                    <div class="col-12 mt-3 p-0">
                        <div class="greybox-xlg p-2">
                            {% trans "Nombre completo" %}
                            <input type="text" class="form-control" id="name" name="name" placeholder="{% trans "Nombre completo" %}"/>
                        </div>
                    </div>
                    <div class="col-12 mt-3 p-0">
                        <div class="greybox-xlg p-2">
                            {% trans "Correo electrónico" %}
                            <input type="text" class="form-control" id="email" name="email" placeholder="{% trans "Correo electrónico" %}"/> 
                        </div>
                    </div>
                    <div class="col-12 mt-3 p-0">
                        <script src='https://www.google.com/recaptcha/api.js'></script>
                        <div class="g-recaptcha" data-sitekey="6Lex26gUAAAAAAz2BSZPNuHpj5-84MYnkIzvsTy4"></div>
                    </div>
                </div>

                <div class="d-flex justify-content-end"><input type="submit" class="btn btn-primary" value="{% trans "Registrar" %}" /> </div>
            </form>
        {% endif %}
    </div>
{% endblock central_content %}
