{% load i18n %}


<table class="table table-striped table-hover table-condensed col-xs-12">
    <thead>
        <tr class="info">
            <th><span class="d-none d-sm-block"> Inicio</span> </th>
            <th><span class="d-none d-sm-block"> Fin</span> </th>
            <th><span class="d-none d-sm-block"> </span> </th>
            {#<th></th>#}
        </tr>
    </thead>

    <tbody>
        {% for obj in journey_list %} 
            <tr class="small row-journey" id="row-{{obj.id}}"> {% include "journeys/journey-list-row.html" %} </tr>
        {% endfor %}
    </tbody>
</table>

