{% load i18n %}


<div class="row"> <div class="col-11"> <h3><i class="fa fa-history"></i>&nbsp; {% trans 'Política de privacidad' %}</h2> </div> </div>

<br/>
<div class="row justify-center">
    <div class="col-12">
        <P> Recuerda que la información aportada aquí es para la guía de Recursos comunitarios para la Salud de Granadilla de Abona, que será un documento público. Por lo tanto, si compartes datos de contacto de teléfono o correo electrónico personales, das permiso a la Fundación FÜNDEC para que los incluya en la Guía de recursos.</p>
    </div>
</div>

<div class="d-flex justify-content-end"> <button type="button" class="btn btn-sm save" data-bs-dismiss="modal">{% trans "Cerrar" %}</button> </div>

