{% load i18n static %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{% trans "Formulario de derivación para "%} {{ patient.history_number }}</title>
	<link rel="stylesheet" href="{% static 'community/css/colors.css' %}">
	<link rel="stylesheet" href="{% static 'community/css/documents.css' %}">
	<link rel="stylesheet" href="{% static 'community/css/referral-form.css' %}">
	<script src="{% static 'community/js/referral-form.js' %}"></script>
    <style>
        .custom-h3{
            color: #814496;
        }
        .custom-box{
            border: 1px solid #999;;
            border-color: #814496;
            padding: 10px;
        }
        .custom-th{
            color: #814496;
            border-bottom: 1px solid #999;;
            border-color: #814496;
            padding-bottom:10px;
        }
        .custom-td{
            color: #814496;
            padding-top:10px;
            padding-bottom:10px;
        }
    </style>
</head>
<body>
    <div class="print-btn-container"> 
        <a class="print-btn" id="print-btn" onclick="window.print()"> &#128424; {% trans "Imprimir" %}</a> 
    </div>
	<div class="page-infinite">
		<div class="page-wrapper">
            <div class="header"> 
                <div class="fundec-logo"> <img src="{% static 'community/images/fundec-logo.png' %}" alt="Fundec"/> </div> 
                <div class="company-logo"> 
                    {% if company.image %}
                        <img src="{{company.image.url}}" alt="{{company.name}}" style="height:60px"/> 
                    {% else %}
                        <img src="{% static 'community/images/capsulae-logo.png' %}" alt="Capsulae"/> 
                    {% endif %}
                </div>
            </div>
            <br/><br/>
			<div class="content">
				<h2 class="main-title"> {% trans "Listado de Organizaciones" %}</h2>

                {% for item in items %}

                    <div class="custom-box">
                        <h3 class="custom-h3">{{item.name}}</h3>
                        <table width="100%">
                            <thead> <th colspan="2" class="custom-th">Principal</th> </thead>
                            <tbody>
                                <tr> <td colspan="2" class="custom-td">{% trans "Breve descripción" %}: </td> </tr>
                                <tr> <td colspan="2">{{item.resource.description}}</td> </tr>
                                <tr> <td class="custom-td">{% trans "Año de creación" %}: </td> <td>{{item.year}}</td> </tr>
                                <tr> <td colspan="2" class="custom-td">{% trans "Via de derivación" %}: </td></tr>
                                <tr> <td colspan="2">{{item.derivation_way}}</td> </tr>
                                <tr> <td colspan="2" class="custom-td">{% trans "Observaciones" %}: </td></tr>
                                <tr> <td colspan="2">{{item.derivation}}</td> </tr>
                            </tbody>
                        </table>
                        <br/>
                        <table width="100%">
                            <thead> <th colspan="6" class="custom-th">Dirección</th> </thead>
                            <tbody>
                                <tr> <td colspan="3" class="custom-td">{% trans "Tipo de vía" %}: </td> </tr>
                                <tr> <td colspan="3">{{item.address.street_type}}</td> </tr>
                                <tr> <td colspan="3" class="custom-td">{% trans "Nombre de la vía" %}: </td> </tr>
                                <tr> <td colspan="3">{{item.address.street_name}}</td> </tr>
                                <tr>
                                    <td class="custom-td">{% trans "Número" %}: </td>
                                    <td class="custom-td">{% trans "Puerta" %}: </td>
                                    <td class="custom-td">{% trans "Código postal" %}: </td>
                                </tr>
                                <tr>
                                    <td>{{item.address.number}}</td>
                                    <td>{{item.address.door}}</td>
                                    <td>{{item.address.postal_code}}</td>
                                </tr>
                                <tr> <td colspan="3" class="custom-td">{% trans "Barrio o núcleo" %}: </td> </tr>
                                <tr> <td colspan="3">{{item.address.place}} / {{item.address.place_other}}</td> </tr>
                                <tr> <td colspan="3" class="custom-td">{% trans "¿Las actividades se desarrollan en el mismo lugar?" %}: </td> </tr>
                                <tr> <td colspan="3">{% if item.address.same_place %} Si {% else %} No {% endif %}</td> </tr>
                                <tr> <td colspan="3" class="custom-td">{% trans "Localización de la actividad" %}: </td> </tr>
                                <tr> <td colspan="3">{{item.address.activity_place}}</td> </tr>

                                <tr> <td colspan="3" class="custom-td">{% trans "Correo electrónico" %}: </td> </tr>
                                <tr> <td colspan="3">{{item.email}}</td> </tr>
                                <tr> <td colspan="3" class="custom-td">{% trans "Teléfono" %}: </td> </tr>
                                <tr> <td colspan="3">{{item.phone}}</td> </tr>
                            </tbody>
                        </table>
                        <br/> <br/>
                        <table width="100%">
                            <thead> <th colspan="2" class="custom-th">Social</th> </thead>
                            <tbody>
                                <tr><td class="custom-td">{% trans "Facebook" %}: </td><td>{{item.social.facebook}}</td></tr>
                                <tr><td class="custom-td">{% trans "Instagram" %}: </td><td>{{item.social.instagram}}</td></tr>
                                <tr><td class="custom-td">{% trans "Twitter" %}: </td><td>{{item.social.twitter}}</td></tr>
                                <tr><td class="custom-td">{% trans "Youtube" %}: </td><td>{{item.social.youtube}}</td></tr>
                            </tbody>
                        </table>
                        <br/> <br/>
                        <table width="100%">
                            <thead> <th colspan="2" class="custom-th">Responsable</th> </thead>
                            <tbody>
                                <tr><td class="custom-td">{% trans "Persona responsable" %}: </td> <td>{{item.in_charge}}</td></tr>
                                <tr><td class="custom-td">{% trans "Cargo de la persona responsable" %}: </td> <td>{{item.in_charge_resp}}</td></tr>
                                <tr><td class="custom-td">{% trans "Persona de contacto" %}: </td> <td>{{item.contact}}</td></tr>
                                <tr><td class="custom-td">{% trans "Cargo de la persona de contacto" %}: </td> <td>{{item.contact_resp}}</td></tr>
                            </tbody>
                        </table>
                        <br/> <br/>
                        <table width="100%">
                            <thead> <th colspan="2" class="custom-th">Recurso</th> </thead>
                            <tbody>
                                <tr><td class="custom-td">{% trans "Titularidad del recurso" %}: </td> <td>{{item.resource.owner}}</td></tr>
                                <tr><td class="custom-td">{% trans "Se trata de un recurso gratuito" %}: </td>
                                    <td>{% if item.resource.free %} Si {% else %} No {% endif %}</td></tr>
                                {%comment%}
                                <tr><td class="custom-td">{% trans "Descripción" %}: </td>
                                    <td><strong>{{item.resource.description}} </strong></td></tr>
                                {%endcomment%}
                            </tbody>
                        </table>
                        <br/> <br/>
                        <table width="100%">
                            <thead> <th colspan="2" class="custom-th">Otra información</th> </thead>
                            <tbody>
                                <tr><td class="custom-td">{% trans "Grupo poblacional" %}: </td></tr>
                                <tr><td>{{item.resource.group}} / {{item.resource.group_other}}</td></tr>
                                {%comment%}
                                <tr><td class="custom-td">{% trans "Ámbito de actuación" %}: </td>
                                    <td><strong>{{item.info.ambit}}</strong></td></tr>
                                {%endcomment%}
                                <tr><td class="custom-td">{% trans "Actividades que realiza" %}: </td></tr>
                                <tr><td>{{item.info.activities}}</td></tr>
                                <tr><td class="custom-td">{% trans "¿Cómo participar?" %}: </td></tr>
                                <tr><td>{{item.info.participate}}</td></tr>
                                {%comment%}
                                <tr><td class="custom-td">{% trans "Salud" %}: </td>
                                    <td><strong>{{item.info.health}} </strong></td></tr>
                                {%endcomment%}
                                <tr> <td class="custom-td">
                                    {% trans "¿De qué forma creen que sus actividades mejoran el bienestar en el municipio?" %}: </td></tr>
                                <tr><td>{{item.info.improvements}} </td></tr>
                                <tr><td class="custom-td">{% trans "¿Qué otro recurso no podría faltar en esta guía?" %}: </td></tr>
                                <tr><td>{{item.info.resources}} </td></tr>
                            </tbody>
                        </table>

                    </div>

                            {%comment%}
                    <table style="border: 1px solid #000; padding:10px">
                        <thead> <th colspan="2" class="custom-th">{{item.name}}</th> </thead>
                        <tbody>
                            <tr> <td class="custom-td">{% trans "Correo electrónico" %}: </td> <td><strong>{{item.email}}</strong></td> </tr>
                            <tr> <td class="custom-td">{% trans "Teléfono" %}:</td> <td><strong>{{item.phone}}</strong></td> </tr>
                            <tr> <td>{% trans "Persona de contacto" %}: </td><td><strong>{{item.contact}}</strong></td> </tr>
                            <tr> <td colspan="2" class="custom-td">{% trans "Dirección" %}: </td></tr>
                            <tr> <td colspan="2"><strong>{{item.address}}</strong></td> </tr>
                            <tr> <td colspan="2" class="custom-td">{% trans "Vía de derivación" %}: </td></tr>
                            <tr> <td colspan="2"><strong>{{item.derivation_way}}</strong></td> </tr>
                            <tr> <td colspan="2" class="custom-td">{% trans "Observaciones" %}: </td></tr>
                            <tr> <td colspan="2"><strong>{{item.derivation}}</strong></td> </tr>
                        </tbody>
                    </table>
                            {%endcomment%}
                    <br/>
                {% endfor %}
			</div>

            <div class="footer">
	            <div class="data">
		            <p class="company"> {{ company.name|default:"" }} </p>
		            <address>
			            {{ company.main_address|default:"" }} {{company.town|default:"" }},
			            {{ company.postal_code|default:"" }} {{ company.province|default:"" }}
		            </address>
		            <div class="contact-info">
                        {% if company.phone != "" %} <div class="phone"> tel: {{ company.phone }} </div> {% endif %}
			            <div class="website"> {{ company.email }} </div>
		            </div>
	            </div>
            </div>
		</div>
	</div>
</body>
</html>
