{% load i18n %}


<div class="row">
    <div class="col-11"> <h2><i class="fa fa-history"></i>&nbsp; {% trans 'Crear usuario' %}</h2> </div>
    <div class="col-1">
        <div class="d-flex justify-content-end"> <button type="button" class="btn btn-lg" data-bs-dismiss="modal" title="{% trans "Close" %}">
            <i class="fas fa-times"></i></button> </div>
    </div>
</div>

<div class="row justify-center"> <div class="col-12"> <div class="row"> <div class="greybox-sm p-1">{{msg}} </div> </div> </div> </div>

