{% load i18n %}

<div class="row" style="margin:0;">
    <div class="col-12 mt-3">
        <label class="label">{% trans "Ámbito de actuación" %}:</label>
        <select id="ambit" name="ambit" class="form-control input autosave input view" data-model-name="community.organizationinfo" 
            data-obj-id="{{info.id}}" data-url="{%url "autosave_field"%}" data-target="div-notification" disabled>
            <option value="">-- Selecciones una opción --</option>
            <option value="mayores" {%if info.ambit == "mayores"%}selected{%endif%}>Mayores</option>
            <option value="infancia y adolescencia" {%if info.ambit == "infancia y adolescencia"%}selected{%endif%}>Infancia y adolescencia</option>
            <option value="jovenes" {%if info.ambit == "jovenes"%}selected{%endif%}>Jovenes</option>
            <option value="inmigrantes" {%if info.ambit == "inmigrantes"%}selected{%endif%}>Inmigrantes</option>
            <option value="mujeres" {%if info.ambit == "mujeres"%}selected{%endif%}>Mujeres</option>
            <option value="personas racializadas" {%if info.ambit == "personas racializadas"%}selected{%endif%}>Personas racializadas</option>
            <option value="personas en situación de drogodependencia" 
                {%if info.ambit == "personas en situación de drogodependencia"%}selected{%endif%}> Personas en situación de drogodependencia</option>
            <option value="personas en situación de sinhogarismo" {%if info.ambit == "personas en situación de sinhogarismo"%}selected{%endif%}>
                Personas en situación de sinhogarismo</option>
            <option value="otros" {%if info.ambit == "otros"%}selected{%endif%}>Otros</option>
        </select>
    </div>
    <div class="col-12 mt-3">
        <label class="label">{% trans "Actividades que realiza" %}:</label>
        <textarea class="form-control input autosave input view" id="activities" name="activities" title="{{info.activities}}" 
            data-model-name="community.organizationinfo" data-obj-id="{{info.id}}" data-url="{%url "autosave_field"%}" 
            data-target="div-notification" placeholder="Escriba aquí las actividades..." disabled>{{info.activities}}</textarea>
            <span id="activities__msg"></span>
    </div>
    <div class="col-12 mt-3">
        <label class="label">{% trans "¿Cómo participar?" %}:</label>
        <textarea class="form-control input autosave input view" id="participate" name="participate" title="{{info.participate}}" 
            data-model-name="community.organizationinfo" data-obj-id="{{info.id}}" data-url="{%url "autosave_field"%}" 
            data-target="div-notification" placeholder="¿Cómo participar?..." disabled>{{info.participate}}</textarea>
            <span id="participate__msg"></span>
    </div>
    <div class="col-12 mt-3">
        <label class="label">{% trans "¿Cómo ve la salud del pueblo?" %}:</label>
        <textarea class="form-control input autosave input view" id="health" name="health" title="{{info.health}}" 
            data-model-name="community.organizationinfo" data-obj-id="{{info.id}}" data-url="{%url "autosave_field"%}" 
            data-target="div-notification" placeholder="¿Cómo ve la salud del pueblo?..." disabled>{{info.health}}</textarea>
            <span id="health__msg"></span>
    </div>
    <div class="col-12 mt-3">
        <label class="label">{% trans "¿De qué forma sus actividades mejoran el bienestar en el pueblo?" %}:</label>
        <textarea class="form-control input autosave input view" id="improvements" name="improvements" title="{{info.improvements}}" 
            data-model-name="community.organizationinfo" data-obj-id="{{info.id}}" data-url="{%url "autosave_field"%}" 
            data-target="div-notification" placeholder="¿De qué forma sus actividades mejoran el bienestar en el pueblo?..." disabled>
            {{info.improvements}}</textarea> <span id="improvements__msg"></span>
    </div>
    <div class="col-12 mt-3">
        <label class="label">{% trans "¿Qué otro recurso no podría faltar en esta guía?" %}:</label>
        <textarea class="form-control input autosave input view" id="resources" name="resources" title="{{info.resources}}" 
            data-model-name="community.organizationinfo" data-obj-id="{{info.id}}" data-url="{%url "autosave_field"%}" 
            data-target="div-notification" placeholder="¿Qué otro recurso no podría faltar en esta guía?..." disabled>{{info.resources}}</textarea>
            <span id="resources__msg"></span>
    </div>
</div>

